@import "variables";

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Regular.eot');
    src: local('../fonts/Inter-Regular'), local('../fonts/Inter-Regular'),
    url('../fonts/Inter-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Inter-Regular.woff') format('woff'),
    url('../fonts/Inter-Regular.woff2') format('woff2'),
    url('../fonts/Inter-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Medium.eot');
    src: local('../fonts/Inter-Medium'), local('../fonts/Inter-Medium'),
    url('../fonts/Inter-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Inter-Medium.woff') format('woff'),
    url('../fonts/Inter-Medium.woff2') format('woff2'),
    url('../fonts/Inter-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Bold.eot');
    src: local('../fonts/Inter-Bold'), local('../fonts/Inter-Bold'),
    url('../fonts/Inter-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Inter-Bold.woff') format('woff'),
    url('../fonts/Inter-Bold.woff2') format('woff2'),
    url('../fonts/Inter-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-SemiBold.eot');
    src: local('../fonts/Inter-SemiBold'), local('../fonts/Izhitsa'),
    url('../fonts/Inter-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Inter-SemiBold.woff') format('woff'),
    url('../fonts/Inter-SemiBold.woff2') format('woff2'),
    url('../fonts/Inter-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
.flex {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.flex-center-x {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.flex-end-x {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-pack: end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.flex-end-y {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    align-content: flex-end;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.flex-center-y {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    align-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.flex-space-b {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.flex-space-y {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.no-wrap {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
svg path {
    transition: all ease .3s;
}
html, body {
    height: 100%;
}
body {
    background: #fff;
    margin: 0;
    font-family: 'Inter';
    color: #5b5b5b;
    font-size: 16px;
    overflow-x: hidden;
    position: relative;
}
a:focus {
    outline: none;
}
a {
    text-decoration: none;
    color: #545454;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
    color: transparent !important;
}
input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
    color: transparent !important;
}
input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder{
    color: transparent !important;
}
input,
button,
select,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
input:focus,
textarea:focus,
button:focus,
select:focus {
    outline: none;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
p {
    margin: 0 0 15px;
    line-height: 1.67;
    color: #5b5b5b;
    font-weight: normal;
    font-size: 24px;
}
p:last-child {
    margin: 0;
}
p a {
    text-decoration: underline;
}
p a:hover {
    text-decoration: none;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
button {
    border: none;
    cursor: pointer;
}
h1 {
    font-size: 60px;
    color: $dark-gray;
    font-weight: bold;
    margin-bottom: 40px;
}
.show-mob {
    display: none;
}
.wrapper {
    min-height: 100%;
}
.center {
    text-align: center;
}
.container, .container-l {
    margin: 0 auto;
    padding: 0 15px;
}
.burger {
    display: none;
    position: absolute;
    @extend %absoluteCenterTop;
    right: 15px;
    z-index: 99;
    & > span {
        width: 30px;
        height: 3px;
        display: block;
        margin-bottom: 5px;
        border-radius: 4px;
        background: #2f281e;
        &:last-child {
            margin-bottom: 0;
        }
    }
}
.btn-std {
    @include btnStd(201px, 48px);
    @extend %transitionStd;
    &:hover {
        background: #4f7eef;
    }
}
.header {
    padding: 42px 0;
    &-nav {
        &__el {
            margin-right: 56px;
            a {
                font-size: 17px;
                color: #3f3f3f;
                font-weight: bold;
                @extend %transitionStd;
                &:hover {
                    @extend %hoverOpacity;
                }
            }
        }
    }
}
.main-bn {
    padding-top: 100px;
    padding-bottom: 275px;
    position: relative;
    &:before {
        opacity: 0;
        animation: animateSlideRight 1s ease-in-out forwards;
        animation-delay: 800ms;
        @include content(826px, 840px, absolute);
        top: 110px;
        right: 0;
        background: url(../images/main-bg.svg) no-repeat right top;
    }
    &-content {
        max-width: 591px;
    }
    h1 {
        max-width: 584px;
    }
    p {
        font-size: 22px;
        line-height: 1.82;
    }
    .btn-std {
        max-width: 498px;
        width: 100%;
        margin-top: 30px;
    }
}
.partners {
    background-color: #f5f6fa;
    padding: 88px 0 130px;
    &-list {
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-gap: 60px 30px;
    }
}
.section {
    &-info {
        &.filter {
            padding: 159px 0 61px;
            .section-info-description {
                padding-left: 40px;
                margin-top: -50px;
            }
        }
        &-description {
            width: 50%;
        }
        &-img {
            width: 50%;
        }
        &.organize {
            padding: 208px 0 259px;
            .section-info-description {
                padding-top: 35px;
            }
            .section-info-description {
                width: 51%;
                padding-right: 100px;
                padding-top: 0;
            }
            .section-info-img {
                width: 49%;
            }
        }
        &.started {
            padding: 0px 0 162px;
            .btn-std {
                margin: 50px auto 0;
                width: 249px;
                height: 48px;
            }
            .section__title {
                text-align: center;
                margin: 0 auto;
                max-width: 660px;
            }
        }
        &-box-img {
            margin-top: 238px;
        }
    }
    &__title {
        font-size: 40px;
        font-weight: bold;
        line-height: 1.48;
        color: $dark-gray;
        margin-bottom: 20px;
        &_xs {
            margin-bottom: 37px;
            font-size: 22px;
            font-weight: normal;
            color: #2f281e;
        }
    }
}
.heart {
    display: inline-block;
    height: 10px;
    width: 10px;
    margin: 0 10px;
    background-color: red;
    transform: rotate(-45deg);
    &:before,
    &:after {
        content: "";
        position: absolute;
        height: 10px;
        width: 10px;
        background-color: red;
        border-radius: 50%;
    }
    &:before {
        top: -6px;
        left: 0;
    }
    &:after {
        left: 6px;
        top: 0;
    }
}
.footer {
    padding-bottom: 50px;
    &-content {
        padding: 35px 0 0;
        border-top: 1px solid rgba(188, 208, 229, 0.5);
    }
    &__link {
        @extend %block;
        padding: 7px 0;
        @extend %transitionStd;
        &:hover {
            @extend %hoverOpacity;
        }
        &_bold {
            font-weight: bold;
        }
        & > img {
            display: inline-block;
            transform: translateY(4px);
            margin-right: 6px;
            margin-left: 3px;
        }
    }
    &_r {
        width: 57%;
    }
    &-col {
        margin-right: 130px;
        &:last-child {
            margin-right: 0;
        }
    }
    &-soc {
        &-el {
            .footer__link {
                padding-left: 27px;
                &.facebook {
                    background: url("../images/facebook.svg") no-repeat 0 50%;
                }
                &.twitter {
                    background: url("../images/twitter.svg") no-repeat 0 50%;
                }
                &.instagram {
                    background: url("../images/instagram.svg") no-repeat 0 50%;
                }
            }


        }
    }
}
// plans
.plans {
    background-color: #f9fbff;
    padding: 136px 0 135px;
    &-list {
       max-width: 951px;
        margin: 0 auto;
        &-el {
            width: 33.3333%;
            box-shadow: 0 2px 18px 0 rgba(0, 0, 0, 0.1);
            background-color: #ffffff;
            padding: 55px 0 84px 0;
            position: relative;
            border: solid 1px #ffffff;
            @extend %transitionStd;
            &.active {
                border: solid 1px #b6cbff;
                .btn-std {
                    background-color: #608dff;
                }
            }
            &:not(.active) {
                .btn-std {
                    cursor: initial;
                }
            }
            &__title {
                color: #242f40;
                font-size: 14px;
                font-weight: bold;
                text-align: center;
                margin: 0 auto 15px;
            }
            .btn-std {
                width: calc(100% + 2px);
                height: 48px;
                left: -1px;
                position: absolute;
                bottom: 0;
                background-color: #89abff;
                font-size: 16px;
                line-height: 48px;
            }
        }
        &-facts {
            margin-top: 15px;
            padding: 0 35px 0 33px;
            &-el {
                position: relative;
                color: #5b6b82;
                font-size: 13px;
                margin-bottom: 18px;
                flex-wrap: nowrap;
                &:before {
                    @include content(21px, 17px, static);
                    margin-right: 20px;
                    min-width: 17px;
                    background: url("../images/check.svg") no-repeat 0 50%;
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    .section__title {
        margin-bottom: 26px;
    }
    &-box-price {
        width: 100%;
    }
    .section__title {
        text-align: center;
    }
    &-info {
        padding: 161px 0 109px;
        .section__title {
            text-align: center;
            margin-bottom: 18px;
        }
        p {
            max-width: 827px;
            margin: 0 auto;
            text-align: center;
        }
        .btn-std {
            margin: 60px auto 0;
            width: 100%;
            max-width: 522px;
        }
    }
}
.btn-holder {
    width: 100%;
}
.price {
    font-size: 51px;
    color: #242f40;
    font-weight: bold;
    height: 61px;
    &-txt {
        font-size: 18px;
        color: #28354a;
        text-align: center;
        max-width: 250px;
        margin: 0 auto;
        min-height: 61px;
    }
}
.dollar {
    color: #242f40;
    line-height: 39px;
    margin-right: 20px;
    font-size: 15px;
    font-weight: 400;
}
.coin {
    color: #5b6b82;
    line-height: 39px;
    margin-left: 10px;
    font-size: 13px;
}
// about
.about {
    padding: 119px 0 157px;
    h1 {
        text-align: center;
        max-width: 1050px;
        margin: 0 auto 35px;
    }
    .section-info {
        &-content {
            margin-top: 130px;
        }
        &-description {
            padding-right: 93px;
        }
    }
    &-target {
        padding: 188px 0;
        background-color: #f5f6fa;
        &-block {
            margin-top: -60px;
        }
        &-box {
            padding-top: 60px;
            width: 47%;
            .section__title {
                margin-bottom: 20px;
            }
        }
    }
    &-info {
        padding: 157px 0;
        .btn-std {
            max-width: 400px;
            width: 100%;
            margin: 30px auto 0;
        }
        .section__title {
            text-align: center;
        }
    }
    &-icon {
        width: 40px;
        transform: translateY(10px);
        height: 40px;
        border-radius: 50%;
        background-color: #5788ff;
    }
    &-description {
        width: calc(100% - 40px);
        padding-left: 20px;
    }
    .leadership {
        padding: 116px 0 65px;
    }
}
.docs {
    background-color: #f5f6fa;
    padding: 181px 0 207px;
    margin-bottom: 35px;
    &__title {
        font-size: 30px;
        text-align: center;
        margin-bottom: 40px;
    }
    &-content {
        padding: 34px 21px 100px;
        border-radius: 12px;
        max-width: 1226px;
        margin: 0 auto;
        background-color: #ffffff;
        p {
            font-size: 20px;
            margin-bottom: 40px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
.leadership {
    padding: 117px 0 65px;
    .section__title {
        margin-bottom: 80px;
    }
    &-list {
        margin: 0 -13px;
        &-el {
            height: 100%;
            padding: 0 13px;
            width: 33%;
            &__title {
                font-size: 30px;
                font-weight: 600;
                color: #373737;
            }
            img {
                max-height: 333px;
            }
            &__name {
                margin-top: 16px;
                & > span {
                    @extend %block;
                    text-align: center;
                    margin: 0 auto;
                }
            }
        }
    }
    &-position {
        font-size: 24px;
        font-weight: 500;
        line-height: 1.67;
        color: #5b5b5b;
        margin-top: 5px;
    }
    p {
        font-weight: normal;
        margin-top: 50px;
        text-align: center;
        font-size: 22px;
    }
}
// wow-effects
.slide-left {
    transform: translateX(-100px);
    opacity: 0;
}
.slide-right {
    transform: translateX(100px);
    opacity: 0;
}
.slide-top {
    transform: translateY(-100px);
    opacity: 0;
}
.slide-bottom {
    transform: translateY(100px);
    opacity: 0;
}
.slide-opacity {
    opacity: 0;
}
.animate {
    .slide-left {
        transition: all ease 1s;
        transform: translateX(0);
        opacity: 1;
    }
    .slide-right {
        transition: all ease 1s;
        transform: translateX(0);
        opacity: 1;
    }
    .slide-top {
        transition: all ease 1s;
        transform: translateY(0);
        opacity: 1;
    }
    .slide-bottom {
        transition: all ease 1s;
        transform: translateY(0);
        opacity: 1;
    }
    .slide-opacity {
        opacity: 1;
        transition: all ease 2s;
    }
}