@font-face {
    font-family: "OpenSans-SemiBold";
    src: url("../fonts/OpenSans-SemiBold/opensans-semibold-webfont.eot");
    src: url("../fonts/OpenSans-SemiBold/opensans-semibold-webfont.eot?#iefix")format("embedded-opentype"),
    url("../main-titlefonts/OpenSans-SemiBold/opensans-semibold-webfont.woff") format("woff"),
    url("../fonts/OpenSans-SemiBold/opensans-semibold-webfont.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}@font-face {
    font-family: "RalewayRegular";
    src: url("../fonts/RalewayRegular/RalewayRegular.eot");
    src: url("../fonts/RalewayRegular/RalewayRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RalewayRegular/RalewayRegular.woff") format("woff"),
    url("../fonts/RalewayRegular/RalewayRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "RalewayThin";
    src: url("../fonts/RalewayThin/RalewayThin.eot");
    src: url("../fonts/RalewayThin/RalewayThin.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RalewayThin/RalewayThin.woff") format("woff"),
    url("../fonts/RalewayThin/RalewayThin.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "RalewayMedium";
    src: url("../fonts/RalewayMedium/RalewayMedium.eot");
    src: url("../fonts/RalewayMedium/RalewayMedium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RalewayMedium/RalewayMedium.woff") format("woff"),
    url("../fonts/RalewayMedium/RalewayMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "RalewayBold";
    src: url("../fonts/RalewayBold/RalewayBold.eot");
    src: url("../fonts/RalewayBold/RalewayBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RalewayBold/RalewayBold.woff") format("woff"),
    url("../fonts/RalewayBold/RalewayBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "RalewayExtraBold";
    src: url("../fonts/RalewayExtraBold/RalewayExtraBold.eot");
    src: url("../fonts/RalewayExtraBold/RalewayExtraBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RalewayExtraBold/RalewayExtraBold.woff") format("woff"),
    url("../fonts/RalewayExtraBold/RalewayExtraBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "RalewayBlack";
    src: url("../fonts/RalewayBlack/RalewayBlack.eot");
    src: url("../fonts/RalewayBlack/RalewayBlack.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RalewayBlack/RalewayBlack.woff") format("woff"),
    url("../fonts/RalewayBlack/RalewayBlack.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
img {
    display: block;
    max-width: 100%;
}
html, body {
    height: 100%;
}
body {
    background: #fff;
    margin: 0;
    font-family: RalewayRegular;
    color: #040406;
    font-size: 16px;
    overflow-x: hidden;
    position: relative;
}
a:focus {
    outline: none;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
input::-webkit-input-placeholder{opacity: 1; transition: opacity 0.3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #7d7d7d !important;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
    color: #7d7d7d !important;
}
input:-moz-placeholder,
textarea:-moz-placeholder{
    color: #7d7d7d !important;
}
input:focus,
textarea:focus,
button:focus,
select:focus {
    outline: none;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
button {
    border: none;
    cursor: pointer;
}
textarea {
    font-family: inherit;
    font-size: inherit;
}
q {
    font-style: italic;
    display: block;
    color: #464646;
    font-size: 15px;
    text-align: center;
    font-family: unset;
}
.container {
    margin: 0 auto;
    padding: 0 15px;
}
.main-bn {
    padding: 60px 0;
    background-size: cover;
}
.main-title, .main-description {
    display: block;
    text-align: center;
    margin: 0 auto;
}
.main-title {
    color: #ffe000;
    font-family: RalewayBlack;
    font-weight: bold;
    margin-top: 50px;
    font-size: 50px;
}
.main-title:after {
    content: '';
    width: 220px;
    height: 2px;
    text-align: center;
    background: #ffffff;
    display: block;
    margin: 20px auto 0 auto;
}
.main-description {
    color: #ffffff;
    max-width: 600px;
    padding: 0 8px;
    margin-top: 25px;
}
.nav-bar li {
    opacity: 0.8;
    max-width: 250px;
    background: rgba(0, 0, 0, 0.2);
    transition: all ease 0.5s;
}
.nav-bar li:hover {
  box-shadow: 0 0 5px 2px #919292;
}
.nav-bar li a {
    color: #ffffff;
    display: block;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    padding: 12px 18px;
}
.block-nav-bar:after,
.block-nav-bar:before {
    content: '';
    width: 100%;
    background: #000000;
    height: 1px;
    box-shadow: 0 1px 5px 0px #919292;
    display: block;
    margin-top: 10px;
}
.block-nav-bar:before  {
    margin-bottom: 10px;
}
.main-slogan {
    font-style: italic;
    display: block;
    color: #ebebeb;
    font-size: 26px;
    padding: 0 8px;
    text-align: center;
    font-family: RalewayThin;
}
.main-bn .block-slogan {
    margin-top: 80px;
    border-radius: 15%;
    background: rgb(54,55,57);
    background: -moz-linear-gradient(left,  rgba(54,55,57,1) 33%, rgba(9,10,12,1) 100%);
    background: -webkit-linear-gradient(left,  rgba(54,55,57,1) 33%,rgba(9,10,12,1) 100%);
    background: linear-gradient(to right,  rgba(54,55,57,1) 33%,rgba(9,10,12,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#363739', endColorstr='#090a0c',GradientType=1 );
    box-shadow: inset 0 0 22px 0 #5555;
    opacity: 0.5;
}
/* About */

.block-info-company {
    padding: 100px 0;
}
.section-about {
    position: relative;
}
.section-about .main-title {
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0;
}
.section-about  .main-title:after,
.section-about  .main-title:before {
    background: rgb(255,254,255);
    background: -moz-linear-gradient(left,  rgba(255,254,255,1) 0%, rgba(235,235,235,1) 51%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(left,  rgba(255,254,255,1) 0%,rgba(235,235,235,1) 51%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to right,  rgba(255,254,255,1) 0%,rgba(235,235,235,1) 51%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffeff', endColorstr='#ffffff',GradientType=1 );
    position: absolute;
    bottom: -25px;
    width: 100%;
}
.section-about  .main-title:before {
    content: '';
    width: 100%;
    height: 2px;
    text-align: center;
    display: block;
    top: -25px;
}
.main-title-lg {
    margin-right: 5px;
}
.main-title-sm {
    font-size: 29px;
    color: #424242;
    line-height: 30px;
}
.text-section{
    display: block;
    font-size: 18px;
    font-family: RalewayMedium;
}
.main-content-about span:nth-child(2){
    margin-top: 45px;
}
.block-fb span:nth-child(2) {
    margin-top: 35px;
}
.btn-fb {
    height: 55px;
    display: block;
    width: 200px;
    margin: 35px auto 0 auto;
    background: none;
    border: 3px solid #ffe000;
    text-transform: uppercase;
    border-radius: 20px;
    color: #ffffff;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 1px;
    transition: all ease 0.5s;
}
.btn-fb:hover {
    color: #000000;
    background: #ffe000;
}
.title-fb {
    color: #ffffff;
    text-align: center;
    display: block;
    text-transform: uppercase;
    font-family: RalewayThin;
}
.block-fb {
    border-radius: 25px;
    padding: 35px 15px 40px 15px;
    background: url("../images/bg-fb.jpg");
}
.color-yellow {
    color: #ffe000;
    text-transform: none;
}
.img-fb {
    width: 50px;
    height: auto;
    display: block;
    margin: 0 auto;
}
.modal-header {
    background: #ffe000;
}
.fb-form {
    padding: 10px 15px 10px 15px;
}
.fb-form input {
    width: 100%;
    border: #c4c3bf solid 1px;
    height: 45px;
    padding-left: 15px;
    background: none;
    color: #555555;
    margin: 10px 0;
    border-radius: 10px;
    -webkit-box-shadow:inset 0 1px 4px -1px  #c4c3bf;
    box-shadow:inset 0 1px 4px -1px  #c4c3bf;
}
.btn-fb-modal {
    width: 120px;
    color: #555555;
    font-size: 14px;
    margin: 0;
}
.modal-title {
    font-size: 19px;
    color: #32322e;
    font-weight: bold;
    letter-spacing: 1px
}
.img-quote {
    display: block;
    width: auto;
    margin: auto 0;
    height: 50px;
}
.block-quote {
    position: absolute;
    top: 10px;
    right: 5px;
    max-width: 282px;
    align-items: center;
    padding: 7px 15px;
    background: #ebebeb;
    border-radius: 30px;
    box-shadow: inset 0 0 9px 6px #ffffff;
}
/*Technology*/
.section-technology {
    margin-top: 80px;
    position: relative;
    padding: 80px 0;
    background: url("../images/background-4.jpg");
    box-shadow: inset 0 3px 8px 2px #ffffff;
}
.inner-text {
    font-size: 28px;
    font-weight: bold;
    color: #040406;
}
.block-left .img-section-technology {
    margin-bottom: 50px;
}
.section-technology .text-section {
    font-size: 18px;
}
.section-technology .title-section {
    margin: 30px 0;
}
.block-right .img-section-technology {
    margin-top: 40px;
}
.block-left .btn-fb {
    color: #000000;
    background: rgba(235, 235, 235, 0.4);
    margin: 15px auto 0 auto;
}
.block-left .btn-fb:hover {
    background: #ffe000;
}
.text-btn {
    display: block;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
}
.block-technology-fb, block-escort-fb {
    margin-top: 60px;
    padding: 10px 0;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
}
.section-technology .block-quote {
    max-width: 400px;
}
/* Environmental */

.section-environmental {
    position: relative;
    padding: 90px 0;
}
.section-environmental .title-section {
    display: block;
    text-align: center;
    margin: 40px auto 0 auto;
}
.section-environmental:before,
.section-environmental:after {
    background: rgb(255, 254, 255);
    background: -moz-linear-gradient(left, rgba(255, 254, 255, 1) 0%, rgba(235, 235, 235, 1) 51%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(255, 254, 255, 1) 0%, rgba(235, 235, 235, 1) 51%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(to right, rgba(255, 254, 255, 1) 0%, rgba(235, 235, 235, 1) 51%, rgba(255, 255, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffeff', endColorstr='#ffffff', GradientType=1);
    content: '';
    width: 100%;
    height: 2px;
    text-align: center;
    display: block;
}
.section-environmental .color-yellow {
    font-size: 30px;
    font-weight: bold;
    margin-right: 5px;
}
.section-environmental .text-section {
    margin: 60px 0;
}
.section-environmental .block-technology-fb {
    background: #f6f6f6;
    padding: 20px;
    margin-top: 70px;
}
.text-question {
    margin: 0 auto 15px;
}
.section-environmental .btn-fb {
    color: black;
    margin: 25px auto 0 auto;
}
.section-environmental .text-btn {
    font-family: RalewayMedium;
    font-size: 20px;
    text-transform: uppercase;
}
/* Training */
.section-training {
    padding: 30px 0 45px 0;
    position: relative;
}
.section-training .main-title {
    margin: 0 0 55px 0;
    text-align: left;
}
.section-training .block-quote {
    max-width: 280px;
}
.section-training .main-title-sm {
    color: #ffffff;
}
.section-training .text-section {
    color: #ebebeb;
    max-width: 550px;
    font-family: RalewayRegular;
}
.section-training .main-title:after {
    display: none;
}
.section-training .block-fb {
    background: none;
    border: 2px solid #ebebeb;
    padding-top: 20px;
}
.holder-training-btn {
    margin: 0 auto;
}
.section-training .title-fb {
    text-transform: none;
    font-size: 18px;
}
.section-training .block-fb span:nth-child(2) {
    margin-top: 35px;
}
.section-training .img-fb {
    width: 150px;
}
/* Escort */
.section-escort {
    margin-top: 50px;
    position: relative;
    padding: 50px 0 30px 0;
}
.section-escort .block-quote {
    top: -30px;
}
.section-escort .block-escort-fb {
    background: url(../images/bg-5.jpg) no-repeat;
    background-size: cover;
    box-shadow: inset 0 3px 8px 2px #ffffff;
    margin-top: 50px;
    padding: 30px 10px;
}
.section-escort .block-escort-fb  .text-btn {
    max-width: 400px;
    font-size: 17px;
}
.section-escort .block-left .text-section,
.section-escort .block-right .text-section {
    margin-top: 30px;
    text-align: center;
}
.section-escort  .title-section  {
    text-align: center;
}
.section-escort  .block-right .img-section-technology {
    margin: 0;
}
.section-escort  .block-right .img-section-escort {
    margin: 0 auto;
}
.section-escort  .block-right .text-section {
    margin: 20px auto 0 auto;
    max-width: 510px;
}
.section-escort:before,
.section-escort:after {
    content: '';
    width: 100%;
    height: 5px;
    display: block;
    margin-bottom: 40px;
    background: rgb(255,255,255);
    background: -moz-linear-gradient(left,  rgba(255,255,255,1) 2%, rgba(255,224,0,1) 27%, rgba(255,255,255,1) 73%);
    background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 2%,rgba(255,224,0,1) 27%,rgba(255,255,255,1) 73%);
    background: linear-gradient(to right,  rgba(255,255,255,1) 2%,rgba(255,224,0,1) 27%,rgba(255,255,255,1) 73%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 );
}
.section-escort:after {
    margin-top: 40px;
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(255,255,255,1) 18%, rgba(255,224,0,1) 60%, rgba(255,255,255,1) 96%);
    background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 18%,rgba(255,224,0,1) 60%,rgba(255,255,255,1) 96%);
    background: linear-gradient(to right,  rgba(255,255,255,1) 18%,rgba(255,224,0,1) 60%,rgba(255,255,255,1) 96%); /
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 );
}
/* News */
.section-news {
    position: relative;
    padding: 50px 0 40px 0;
    background: url("../images/background-2.jpg");
}
.section-news .block-quote {
    max-width: 288px;
}
.section-news .title-section {
    text-align: center;
    display: block;
}
.section-news .text-section {
    text-align: center;
    display: block;
    max-width: 950px;
    margin: 50px auto 0 auto;
    font-family: inherit;
}
.block-social {
    margin-top: 50px;
}
.block-social li {
    margin: 0 30px;
}
.img-soc {
    width: 70px;
    height: auto;
    transition: all ease 0.7s;
}
.block-social li:hover img {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
.section-news .inner-text {
    font-family: RalewayBold;
}
/* Community */
.section-community {
    padding: 60px 0 80px 0;
    position: relative;
}
.section-community  .title-section {
    text-align: center;
}
.section-community .main-title {
    margin: 0;
}
.section-community  .text-section {
    font-size: 17px;
    font-family: inherit;
    line-height: 35px;
    font-style: italic;
}
.section-community button {
    margin: 0;
    color: #000000;
}
.section-community .block-escort-fb  {
    margin-top: 30px;
}
.section-community .text-btn {
    margin: auto 30px auto 0;
    font-size: 18px;
}
.section-community .inner-text {
    font-size: 20px;
    color: #ffe000;
}
.footer {
    background: #000000;
    padding: 25px 0;
}
.footer .main-title:after {
    display: none;
}
.footer .main-title {
    font-size: 28px;
    margin: 0 auto;
}
.block-social-footer {
    margin: 0;
}
.img-soc-footer {
    width: 40px;
    transition: all ease 0.7s;
}
.footer .block-social-footer li {
    margin: 0 15px;
}
.copyright {
    color: #696969;
    margin: 0 auto;
}
.navbar-toggler {
    position: fixed;
    left: 15px;
    width: 35px;
    height: 30px;
    top: 15px;
    border: none;
    background: #000000;
    border-radius: 6px;
    z-index: 51;
}
.navbar-toggler span {
    display: block;
    width: calc(100% - 10px);
    position: absolute;
    height: 2px;
    top: 5px;
    transition: 0.5s all ease;
    left: 5px;
    background: #ffffff;
}
.navbar-toggler span:nth-child(2) {
    top: calc(50% - 1px);
}
.navbar-toggler span:nth-child(3) {
    top: 23px;
}
.navbar-toggler[aria-expanded="true"] span:nth-child(1) {
    transform: rotate(45deg);
    top: 13px;
}
.navbar-toggler[aria-expanded="true"] span:nth-child(2) {
    left: -50%;
    opacity: 0;
}
.navbar-toggler[aria-expanded="true"] span:nth-child(3) {
    transform: rotate(-45deg);
    top: 13px;
}
.navbar-toggler[aria-expanded="true"] {
    background: #ffffff;
}
.navbar-toggler[aria-expanded="true"] span {
    background: #000000;
}
.block-nav-bar {
    flex-wrap: wrap;
}