@media(min-width: 1440px) {
    .main-bn__bg .bg-blue {
        width: 71.5%;
    }
}
@media (min-width: 1340px) and (max-width: 1439.98px) {
    .main-bn__bg .bg-blue {
        width: 76%;
    }
    .main-bn__bg .bg-blue:after {
        right: -150px;
        border-width: 0 150px 600px 150px;
    }
}
@media (min-width: 1200px) and (max-width: 1339.98px) {
    .main-bn__bg .bg-blue {
        width: 76%;
    }
    .main-bn__bg .bg-blue:after {
        right: -100px;
        border-width: 0 100px 600px 100px;
    }
}
@media(min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
@media (min-width:992px) and (max-width: 1199.98px) {
    .container {
        width: 970px;
    }
    .header-right {
        width: 77%;
    }
    .consultation_right {
        width: 72%;
    }
    .header-left, .consultation_left {
        width: 18%;
    }
    .header-nav__el:not(:last-child) {
        margin-right: 13px;
    }
    .header-nav__el a {
        font-weight: 600;
        font-size: 13px;
    }
    .main-bn__bg .bg-blue {
        width: 72.5%;
    }
    .main-bn__bg .bg-blue:after {
        right: -100px;
        border-width: 0 100px 600px 100px;
    }
    .phone-icon {
        display: none;
    }
    .contacts-form__input {
        padding: 23px 16px 22px;
        width: 49%;
    }
    .services-block__el:not(:first-child) {
        margin-left: 0;
    }
    .services-block__el-img {
        width: 100%;
        height: 200px;
    }
    .reviews-block__el {
        padding: 24px 15px 0;
    }
    .working-us-block__el-description {
        padding: 10px;
        font-size: 16px;
    }
    .working-us .bg-blue {
        width: 49%;
    }
    .progress .section__text {
        max-width: 600px;
    }
    .count .contacts-form__input {
        width: 48%;
    }
    .count .contacts-form-holder {
        padding: 0 33px 25px;
    }
    .contacts-form__input {
        margin-top: 25px;
    }
    section {
        padding-top: 72px;
    }
}
@media(max-width: 991.98px) {
    .burger {
        display: flex;
    }
    .header-right {
        display: none;
        width: calc(100% - 15px);
        opacity: 0;
        transition: all ease .5s;
    }
    .consultation_right {
        width: 100%;
    }
    .header-nav {
        display: block;
        margin-top: 30px;
    }
    .header-left, .consultation_left {
        width: auto;
    }
    .header-soc {
        padding: 15px;
        bottom: -50px;
        background: #fff;
        width: 100%;
        box-shadow: 0 6px 20px 0px #454545;
        position: absolute;
        left: 0;
    }
    .header-right .header-nav__el:hover:after {
        display: none;
    }
    .header {
        padding: 15px;
        position: fixed;
        z-index: 40;
        width: 100%;
        left: 0;
        top: 0;
        background: rgb(24, 114, 184);
    }
    .header-nav__el:not(:last-child) {
        margin-bottom: 15px;
    }
    .header-right.active {
        opacity: 1;
    }
    .main-bn__phone {
        margin-left: auto;
        margin-top: 20px;
        max-width: 200px;
    }
    .phone:not(:last-child) {
        margin-right: 0;
        margin-bottom: 10px;
    }
    .contacts-form__input,
    .count .contacts-form__input {
        width: 49%;
    }
    .contacts-form-holder {
        margin-top: 25px;
    }
    .services-block {
        margin-left: 0;
    }
    .services-block__el {
        width: 24%;
    }
    .services-block__el:not(:first-child) {
        margin-left: 0;
    }
    .services-block__el-img {
        height: 170px;
    }
    .reviews-block__el {
        padding: 24px 16px 0;
        font-size: 16px;
    }
    .working-us-block {
        margin: 0 -5px;
        z-index: 0;
    }
    .working-us-block__el-col {
        padding: 0 5px;
    }
    .working-us-block__el-description {
        padding: 5px;
        font-size: 14px;
        min-height: 110px;
    }
    .progress-bar__el-figure {
        font-size: 60px;
    }
    .contacts_left {
        margin-top: 30px;
    }
    .contacts_right {
        width: 100%;
        order: -1;
    }
}
@media (min-width:768px) and (max-width:991.98px) {
    .container {
        width: 750px;
    }
    section {
        padding-top: 60px;
    }
    .btn-progress {
        margin-top: 30px;
    }
    .progress .section__text {
        font-size: 15px;
    }
    .count .bg-blue {
        width: 53%;
    }
    .count .contacts-form-holder {
        padding: 2px 25px 31px;
    }
    .count .bg-blue:after {
        border-width: 0 0 641px 110px;
    }
    .footer_right .header-nav {
        display: flex;
    }
    .progress-bar__el {
        width: 22%;
    }
    .progress-bar__el:after {
        bottom: 50%;
    }
    .services, .working-us, .count, .reviews, .contacts, .progress  {
        padding-bottom: 60px;
    }
    .main-title, .main-description {
        background: rgba(24, 114, 184, 0.5);
    }
}
@media(max-width: 767.98px) {
    body {
        font-size: 16px;
    }
    section {
        padding-top: 50px;
    }

    .main-description {
        font-size: 17px;
        background: rgba(255, 255, 255, 0.3);
    }
    .main-title {
        font-size: 23px;
    }
    .main-bn__content-inner {
        background-position-x: left;
        padding-left: 8px;
    }
    .main-bn__bg {
        padding-bottom: 20px;
    }
    .main-bn__content-inner .btn-std {
        margin-left: -8px;
    }
    .contacts-form-holder {
        margin-top: 25px;
        padding: 7px 20px 25px;
    }
    .contacts-form__input {
        margin-top: 15px;
        padding: 17px 13px 17px;
    }
    .btn-consultation {
        padding: 17px 26px 18px;
        margin: 25px auto 0;
    }
    .services .bg-blue,
    .working-us .bg-blue,
    .count .bg-blue {
        display: none;
    }
    .services-block {
        position: static;
        display: flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        margin-left: 0;
    }
    .services-block__el {
        width: 50%;
        margin-bottom: 20px;
        padding: 0 5px;
    }
    .section__title {
        font-size: 21px;
    }
    .services-block__el:not(:first-child) {
        margin-left: 0;
    }
    .services-block__el-img {
        height: 165px;
    }
    .services-block .services-block__el:nth-child(4),
    .services-block .services-block__el:nth-child(3) {
        color: #1872B8;
    }
    .services-block__el-title {
        margin-top: 10px;
        font-size: 15px;
    }
    .services, .working-us {
        padding-bottom: 30px;
    }
    .reviews-block__el {
        width: 100%;
        padding: 10px 5px 0;
        font-size: 15px;
    }
    .reviews-block__el:not(:first-child) {
        margin-top: 20px;
    }
    .reviews__author {
        margin-top: 10px;
    }
    .working-us-block {
        margin: 0 -5px;
        z-index: 0;
    }
    .count .contacts-form {
        z-index: 0;
    }
    .working-us-block__el-col {
        width: 50%;
        padding: 0 5px;
        margin-bottom: 20px;
    }
    .services-block,
    .progress-bar {
        display: flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
    }
    .btn-progress {
        padding: 20.5px 55px;
        margin-top: 30px;
    }
    .progress-bar {
       margin-top: 40px;
    }
    .progress .section__text {
        font-size: 15px;
    }
    .progress-bar__el {
        margin: 0 auto;
        width: 35%;
        max-width: 100%;
    }
    .progress-bar__el:not(:last-child) {
        margin-bottom: 10px;
    }
    .count .contacts-form-holder {
        padding: 10px 20px 25px;
    }
    .progress,
    .reviews {
        padding-bottom: 50px;
    }
    .contacts {
        padding-bottom: 50px;
    }
    .footer_right .header-nav {
        margin-top: 20px;
    }
    .footer_right .header-nav__el:not(:last-child) {
        margin-bottom: 10px;
    }
    .footer__soc {
        order: -1;
        margin-bottom: 20px;
    }
    .footer-left {
        width: 100%;
    }
    .copy {
        width: 100%;
    }
    .pop-up__content {
        padding: 30px 15px 20px;
    }
    .form-price .contacts-form__input {
        width: 100%;
    }
    .pop-up__content .section__text {
        font-size: 15px;
    }
    .modal-center {
        padding: 36px 15px;
    }
    .main-bn__bg .bg-blue:after {
        right: -100px;
        border-width: 0 100px 600px 100px;
    }
}
@media (min-width: 429.98px) and (max-width: 767px){
    .main-bn__content-inner .btn-std {
        position: absolute;
        bottom: -65px;
    }
    .main-bn__content-inner {
        background-position-x: left;
        padding-left: 8px;
        padding-bottom: 50px;
    }
}
@media (max-width: 599.98px) {
    .phone-icon {
        display: none;
    }
    .contacts-form__input {
        width: 100%;
    }
    .progress-bar__el-description {
        font-size: 20px;
    }
    .count .contacts-form__input {
        width: 100%;
    }
}
@media (max-width: 380px) {
    .progress-bar__el {
        width: 100%;
    }
}
