@import "variables";

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Regular.eot');
  src: local('../fonts/Inter-Regular'), local('../fonts/Inter-Regular'),
  url('../fonts/Inter-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Inter-Regular.woff') format('woff'),
  url('../fonts/Inter-Regular.woff2') format('woff2'),
  url('../fonts/Inter-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Bold.eot');
  src: local('../fonts/Inter-Bold'), local('../fonts/Inter-Bold'),
  url('../fonts/Inter-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Inter-Bold.woff') format('woff'),
  url('../fonts/Inter-Bold.woff2') format('woff2'),
  url('../fonts/Inter-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'RedHatDisplay';
  src: url('../fonts/RedHatDisplay-Bold.eot');
  src: local('../fonts/RedHatDisplay-Bold'), local('../fonts/RedHatDisplay-Bold'),
  url('../fonts/RedHatDisplay-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/RedHatDisplay-Bold.woff') format('woff'),
  url('../fonts/RedHatDisplay-Bold.woff2') format('woff2'),
  url('../fonts/RedHatDisplay-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
.flex {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.flex-center-x {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.flex-end-x {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.flex-end-y {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  align-content: flex-end;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.flex-center-y {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  align-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.flex-space-b {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.flex-space-y {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.no-wrap {
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
img {
  display: block;
  max-width: 100%;
  height: fit-content;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
svg path {
  transition: all ease .3s;
}
html, body {
  height: 100%;
}
body {
  background: #fff;
  margin: 0;
  font-family: 'Inter';
  color: #0A4040;
  font-size: 20px;
  overflow-x: hidden;
  position: relative;
  font-weight: normal;
}
a:focus {
  outline: none;
}
a {
  text-decoration: none;
  color: $color-white;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
section {
  padding: 150px 0;
}
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: transparent !important;
}
input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  color: transparent !important;
}
input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder{
  color: transparent !important;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #817f7f !important;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #817f7f !important;
}
input:-moz-placeholder,
textarea:-moz-placeholder{
  color: #817f7f !important;
}
input,
button,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
input:focus,
textarea:focus,
button:focus,
select:focus {
  outline: none;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
h1  {
  font-size: 74px;
  color: $color-white;
  margin-bottom: 22px;
  text-align: center;
}
h3, h2 {
  font-weight: bold;
  font-size: 45px;
}
p {
  margin: 0 0 15px;
  line-height: 20px;
}
p:last-child {
  margin: 0;
}
p a {
  text-decoration: underline;
}
p a:hover {
  text-decoration: none;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
button {
  border: none;
  cursor: pointer;
}
.show-mob {
  display: none;
}
.wrapper {
  min-height: 100%;
}
.container {
  margin: 0 auto;
  padding: 0 30px;
}
// main-bn
.header {
  padding: 40px 0;
  &-nav {
    color: $color-white;
    font-size: 18px;
    @extend %transitionStd;
    &:hover {
      @extend %hoverOpacity;
    }
  }
  &.light-theme {
    padding: 25px 0;
    box-shadow: 0px 7px 24px #E1F3FF;
    .header-nav {
      color: #0A4040;;
    }
  }
}
.btn-green {
  margin-left: 53px;
  background: #46B274;
  color: $color-white;
}
.btn-std {
  width: 160px;
  height: 50px;
  border-radius: 2px;
  @extend %block;
  @extend %transitionStd;
  &:hover {
    @extend %hoverOpacity;
  }
}
.btn-dark {
  color: $color-white;
  background: #000000;
  margin-left: 52px;
}
.main-bn {
  background: linear-gradient(105.5deg, #46B274 0%, #072C4F 100.49%);
  height: 750px;
  position: relative;
  overflow: hidden;
  &-content {
    margin-top: 140px;
    position: relative;
    z-index: 3;
    text-align: center;
    &__description {
      font-size: 24px;
      line-height: 37px;
      @extend %block;
      color: $color-white;
      max-width: 800px;
      @extend %marginAuto;
    }
  }
  &.create-content {
    height: auto;
    background: $light-blue;
    padding: 150px 0 235px;
    h1, .section__title, .main-bn-content__description {
      color: #0A4040;
      margin: 0 auto 15px;
      text-align: center;
    }
    &.bn-footer {
      padding: 169px 0;
      .main-bn-content {
        margin-top: 0px;
      }
    }
    .section__title {
      margin-bottom: 15px;
    }
    .main-bn-content__description {
      max-width: 750px;
      margin: 0;
    }
    .main-bn {
      &-content {
        margin-top: 0px;
        width: 100%;
        h1, .main-bn-content__description {
          text-align: center;
          margin: 0 auto 22px;
        }
      }
      &-form {
        .btn-std {
          width: 100%;
          margin-left: 0;
          margin-top: 26px;
        }
      }
    }
    .main-bn_r {
      width: 40%;
      max-width: 400px;
      padding: 90px 37px;
      background: $color-white;
      .main-bn__title {
        font-weight: bold;
        font-size: 25px;
        line-height: 32px;
        @extend %block;
        margin-bottom: 40px;
        text-align: center;
      }
    }
  }
}
.input-std, .textarea-std {
  width: 100%;
  height: 50px;
  font-size: 16px;
  border: 1px solid #CCCCCC;
  border-radius: 2px;
  margin-bottom: 20px;
  padding-left: 15px;
  &:last-child {
    margin-bottom: 0;
  }
}
.textarea-std {
  height: 172px;
  resize: none;
  padding-top: 13px;
  margin-bottom: 0;
}
.block__figures {
  & > svg {
    position: absolute;
    z-index: 2;
  }
  &.bn-block__figures {
    & svg {
      &:nth-of-type(1) {
        top: 20%;
        left: 5%;
        animation: animate1 25s linear infinite;
      }
      &:nth-of-type(2) {
        top: 17%;
        left: 29%;
        animation: animate3 20s linear infinite;
      }
      &:nth-of-type(3) {
        top: 22%;
        left: 10%;
        animation: animate2 29s linear infinite;
      }
      &:nth-of-type(4) {
        bottom: 23%;
        left: -1%;
        animation: animate4 22s linear infinite;
      }
      &:nth-of-type(5) {
        top: 56%;
        left: 13%;
        animation: animate5 20s linear infinite;
      }
      &:nth-of-type(6) {
        bottom: 4%;
        left: 5%;
        animation: animate1 22s linear infinite;
      }
      &:nth-of-type(7) {
        bottom: 10%;
        left: 16%;
        animation: animate6 28s linear infinite;
      }
    }

  }
  &-arrow {
    position: absolute;
    z-index: 5;
    bottom: 60px;
    @extend %absoluteCenterLeft;
    width: 66px;
    height: 28px;
    animation: animateArrowBn 4s linear infinite;
  }
  &-dots {
    position: absolute;
    right: 0;
    bottom: -20px;
  }
}
.expertise {
  .section-content {
    margin-top: 9px;
  }
  &__link {
    font-family: 'RedHatDisplay';
    font-weight: bold;
    font-size: 24px;
    color: $color-green;
    @extend %marginAuto;
    margin-top: 83px;
    @extend %transitionStd;
    &:after {
      @include content(100%, 2px, static);
      background-color: $color-green;
    }
    &:hover {
      @extend %hoverOpacity;
    }
  }
}
.box__title {
  font-weight: bold;
  font-size: 34px;
  @extend %block;
  margin-bottom: 8px;
}
.section {
  &__text {
    font-size: 24px;
    line-height: 37px;
    color: $color-black;
    max-width: 696px;
    @extend  %block;
  }
  &-box {
    max-width: 50%;
    width: 100%;
    padding-top: 71px;
    &-content {
      width: calc(100% - 110px);
      margin-left: 30px;
    }
    & p {
      line-height: 28px;
      max-width: 384px;
    }
  }
  .section__link {
    text-decoration: underline;
    color: $color-green;
    font-weight: bold;
    font-family: 'RedHatDisplay';
    letter-spacing: 1.1px;
    @extend %transitionStd;
    &:hover {
      @extend %hoverOpacity;
    }
  }
  &__subtitle {
    font-weight: bold;
    font-size: 34px;
    margin-bottom: 25px;
  }
  .section__title {
    max-width: 500px;
  }
}
.clients {
  position: relative;
  background: $light-blue;
  .section__title {
    margin-bottom: 20px;
  }
  .section-content {
    margin-top: 36px;
  }
  .section-box {
    position: relative;
    z-index: 3;
    max-width: 48.5%;
    margin-top: 34px;
    background: $color-white;
    padding: 40px 47px 50px 30px;
    box-shadow: 7px 7px 32px #E1F3FF;
    border-radius: 2px;
    &-content__title {
      margin-bottom: 8px;
      .box__title {
        margin-right: 25px;
        margin-bottom: 0;
        max-width: calc(100% - 41px);
      }
    }
    & > p {
      margin-left: 95px;
    }
  }
  &:after {
    @include content(445px, 425px, absolute);
    background: url("../images/dots2.svg");
    left: 4%;
    bottom: -3%;
    z-index: 1;
  }
}
.btn_download {
  transform: translateY(7px);
}
.markets {
  &-box {
    box-shadow: 0px 6px 25px rgba(38, 83, 112, 0.08);
    border-radius: 2px;
    width: 24.5%;
    padding: 25px 24px 22px;
    &:nth-of-type(1) {
      width: 29%;
    }
    &:nth-of-type(2) {
      width: 20.5%;
    }
    &:nth-of-type(3) {
        width: 20.5%;
      }
    &:nth-of-type(4) {
      width: 26%;
    }
    .box__title {
      font-size: 26px;
      margin-top: 10px;
    }
  }
  .section-content {
    margin-top: 70px;
  }
  .section__title {
    margin-bottom: 20px;
  }
}
.company {
  background: $light-blue;
  .section__title {
    margin-bottom: 20px;
  }
  .section-content {
    margin-top: 80px;
  }
  &__text {
    max-width: 700px;
    @extend %marginAuto;
    text-align: center;
    margin-top: 80px;
  }
}
.offer {
  position: relative;
  overflow: hidden;
  height: 550px;
  background: linear-gradient(105.5deg, #072C4F 0%, #46B274 100.49%);
  .section-content {
    position: relative;
    z-index: 5;
  }
  h2 {
    font-size: 65px;
    text-align: center;
    max-width: 699px !important;
  }
  .section__title {
    margin-bottom: 13px;
    color: $color-white;
  }
  .section__text {
    text-align: center;
    color: $color-white;
  }
  .btn-std {
    width: 200px;
    height: 60px;
    margin-top: 62px;
    @extend %marginAuto;
  }
  .block__figures {
    &-dots {
      top: -8%;
      left: 4%;
    }
    & > svg {
      &:nth-of-type(1) {
        top: 13%;
        right: 30%;
        animation: animate5 25s linear infinite;
      }
      &:nth-of-type(2) {
        top: 16%;
        right: 13%;
        animation: animate1 33s linear infinite;
      }
      &:nth-of-type(3) {
        bottom: 8%;
        right: 30%;
        animation: animate2 25s linear infinite;
      }
      &:nth-of-type(4) {
        right: 12%;
        bottom: 12%;
        animation: animate7 25s linear infinite;
      }
      &:nth-of-type(5) {
        right: 22%;
        top: 49%;
        animation: animate3 25s linear infinite;

      }
    }
  }
}
// footer
.footer {
  color: $color-white;
  background: $color-black;
  padding: 100px 0 54px;
  position: relative;
  &__address {
    font-size: 18px;
    opacity: .6;
    @extend %block;
    margin-top: 40px;
    margin-bottom: 22px;
  }
  &__email {
    font-size: 18px;
  }
  &__copy {
    font-size: 16px;
    opacity: 0.8;
  }
  &-nav {
    margin-bottom: 145px;
    width: 62%;
    &-list {
      margin-top: -22px;
      &__el {
        width: 33%;
        padding-top: 22px;
        @extend %transitionStd;
        &:hover {
          @extend %hoverOpacity;
        }
        & > a {
          opacity: 0.8;
          font-size: 18px;
          letter-spacing: -0.5px;
        }
      }
    }
  }
  &-contacts {
    .footer-nav-list__el {
      width: 100%;
    }
  }
  &__info {
    width: 27%;
  }
}
.burger {
  display: none;
}
.create-content-information {
  .section__title {
    margin-bottom: 20px;
    max-width: 800px;
  }
  &-wrap {
    align-items: flex-start;
  }
  .box-info {
    max-width: 800px;
    margin-bottom: 120px;
    .section__text {
      margin-bottom: 50px;
      max-width: 800px;
      &.box-info__text-bold {
        font-weight: bold;
        margin-bottom: 25px;
        max-width: 785px;
      }
      &.text-info {
        margin-bottom: 34px;
        @extend %block;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    .section__link {
      font-size: 24px;
    }
    .section__subtitle {
      max-width: 800px;
      margin-top: 50px;
      margin-bottom: 14px;
    }
    .section__title {
      &_xs {
        font-size: 26px;
        @extend %block;
        margin-bottom: 14px;
        font-weight: bold;
      }
    }
    &-inner {
      margin-top: 55px;
      .section__text {
        margin-bottom: 20px;
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.services {
  background: $light-blue;
  .main-bn-content__description {
    color: #000000;
    text-align: center;
  }
  h1 {
    color: #0A4040;
  }
  &-content {
    margin: 134px -16px 0;
  }
  &-col {
    padding: 16px;
    width: 25%;
  }
  &-box {
    padding: 24px 22px;
    background: #FFFFFF;
    box-shadow: 7px 7px 32px #E1F3FF;
    border-radius: 2px;
    min-height: 280px;
    height: 100%;
    & img {
      min-height: 50px;
    }
    .box__title {
      font-size: 26px;
      margin-top: 17px;
    }
    .section__link {
      font-size: 20px;
      width: 100%;
    }
  }
}
.contacts-form {
  max-width: 592px;
  margin-top: 80px;
  .btn-std {
    width: 100%;
    margin-left: 0;
    margin-top: 65px;
  }
  .input-std {
    margin-bottom: 10px;
  }
}
// 13.10.2020

.block-quote {
  margin-top: 60px;
  max-width: 800px;
  margin-bottom: 40px;
  .quote {
    font-size: 36px;
    line-height: 50px;
    &__author {
      font-size: 24px;
      line-height: 37px;
      margin-top: 9px;
      @extend %block;
    }
  }
  &:last-child {
    margin-bottom: 0;
  }
}
.box-info-list {
  max-width: 780px;
  margin-bottom: 50px;
  &__el {
    position: relative;
    padding-left: 16px;
    margin-bottom: 14px;
    font-size: 24px;
    &:last-child {
      margin-bottom: 0;
    }
    &:before {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: $color-black;
      content: '';
      display: block;
      position: absolute;
      top: 8px;
      left: 0;
    }
  }
}
.create-info-wrap {
  max-width: 800px;
}
.aside {
  max-width: 384px;
  width: 100%;
  padding: 34px 38px 34px 34px;
  background: rgba(238, 248, 254, .4);
  border: 1px solid rgba(206, 206, 206, .4);
  border-radius: 2px;
  &__title {
    font-weight: 500;
    font-size: 20px;
    color: $color-black;
    @extend %block;
    margin-bottom: 10px;
  }
  &-list, .aside-list-inner {
    padding: 0;
    counter-reset: num;
    list-style-type: none;
    &__el, .aside-list-inner__el {
      font-size: 18px;
      padding-left: 0;
      margin-bottom: 15px;
      & > a {
        color: #46B274;
        display: block;
        padding-left: 20px;
        font-size: 18px;
        margin-bottom: 8px;
      }
      &:before {
        width: 0;
        height: 0;
        border: none;
        font-size: 18px;
        display: initial;
        position: absolute;
        background: transparent;
        content: counters(num, ".") ".";
        counter-increment: num;
        color: $color-black;
        margin-right: 8px;
      }
    }
    .aside-list-inner {
      margin: 12px 0 13px 34px;
      .aside-list__el {
        margin-bottom: 7px;
        & > a {
          padding-left: 38px;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
// table-static
table {
  margin: 50px 0;
  width: 100%;
  box-shadow: 7px 7px 32px #E1F3FF;
  th {
    border-right: 1px solid #F2F2F2;
    background: #EEF8FE;
    padding: 40px 20px;
    text-align: left;
    font-size: 16px;
    &:last-child {
      border-right: 0;
    }
  }
  td {
    border: 1px solid #F2F2F2;
    padding: 40px 20px;
    font-size: 16px;
  }
}
h2 {
  margin-bottom: 40px;
}
h3 {
  font-weight: bold;
  font-size: 34px;
  margin-bottom: 14px;
}
h4 {
  font-weight: bold;
  font-size: 26px;
  margin-bottom: 13px;
}
ul {
  margin: 50px 0 30px 0;
  & > li {
    font-size: 24px;
    margin: 7px 0 12px;
    position: relative;
    padding-left: 18px;
    &:before {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: $color-black;
      content: '';
      display: block;
      position: absolute;
      top: 9px;
      left: 0;
    }
    & > ul {
      margin: 16px 0 30px 30px;
      & > li {
        margin: 5px 0 7px;
        &:before {
          width: 7px;
          height: 7px;
          border: 1px solid #000000;
          border-radius: 50%;
          background: $color-white;
        }
      }
    }
  }
}
q {
  font-size: 36px;
  line-height: 50px;
}