@font-face {
    font-family: 'helveticaneuecyrbold';
    src: url('../fonts/helveticaneuecyr-bold-webfont.eot');
    src: url('../fonts/helveticaneuecyr-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneuecyr-bold-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneuecyr-bold-webfont.woff') format('woff'),
         url('../fonts/helveticaneuecyr-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'helveticaneuecyrroman';
    src: url('../fonts/helveticaneuecyr-roman-webfont.eot');
    src: url('../fonts/helveticaneuecyr-roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneuecyr-roman-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneuecyr-roman-webfont.woff') format('woff'),
         url('../fonts/helveticaneuecyr-roman-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'helveticaneuecyrmedium';
    src: url('../fonts/helveticaneuecyr-medium-webfont.eot');
    src: url('../fonts/helveticaneuecyr-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneuecyr-medium-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneuecyr-medium-webfont.woff') format('woff'),
         url('../fonts/helveticaneuecyr-medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'helveticaneuecyritalic';
    src: url('../fonts/helveticaneuecyr-italic-webfont.eot');
    src: url('../fonts/helveticaneuecyr-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneuecyr-italic-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneuecyr-italic-webfont.woff') format('woff'),
         url('../fonts/helveticaneuecyr-italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    font-size: 16px;
    color: #333333;
    font-family: 'helveticaneuecyrroman';
    overflow-x: hidden;
}
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder{
    color: transparent !important;
}
input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder{
    color: transparent !important;
}
input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder{
    color: transparent !important;
}
input::-moz-placeholder,
textarea::-moz-placeholder{
    color: #333333;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder{
    color: #333333;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder{
    color: #333333;
}
select::-ms-expand {
  display: none;
}
input:focus,
textarea:focus,
select:focus,
button:focus,
a:focus {
    outline: none;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.holder {
    overflow: hidden;
}
#header {
    padding: 7px 0 10px 0;
    background: url(../images/header-top.gif) repeat-x;
}
#header:after {
    clear: both;
    display: block;
    content: '';
}
.logo {
    float: left;
    margin: 10px 85px 0 0;
}
.logo img {
    display: block;
    width:100%;
}
.header-inner {
    background: url(../images/header-left.jpg) no-repeat;
    height: 38px;
}
.header-inner .holder {
    background: #f4f4f4;
    height: 38px;
    margin-left: 38px;
    padding-right: 9999px;
    border-bottom: 1px solid #e3e3e3;
    margin-right: -9999px;
}
.header-holder {
    float: left;
}
.header-inner .holder span {
    float: left;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    margin: 0 0 0 17px;
    color: #00467f;
    line-height: 32px;
}
.header-inner .holder span.header-phone {
    float: right;
    font-size: 24px;
    margin: 0 0 0 80px;
}
.header-inner .holder span.header-phone a {
    color: #00467f;
    padding: 0 0 0 30px;
    background: url(../images/phone-ico.png) no-repeat 0 50%;
}
.header-inner .holder span.header-phone a:hover {
    text-decoration: underline;
}
.nav .home img.home-disable {
    display: inline-block;
}
.nav .home img.home-hover {
    display: none;
}
.nav .home a:hover img.home-hover {
    display: inline-block;
}
.nav .home a:hover img.home-disable {
    display: none;
}
.nav li {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    padding: 0 42px;
    margin: 15px 0;
    border-right: 1px solid #d6d6d6;
}
.navbar-nav > li:first-child {
    padding: 15px 38px;
    margin: 0;
    line-height: 60px;
}
.navbar-nav > li:first-child > a {
    line-height: 30px;
}
.nav li.active a {
    border-bottom: 2px solid #0085cf;
    color: #0085cf;
}
.nav li a {
    color: #333333;
    line-height: 30px;
    border-bottom: 2px solid transparent;
}
.nav li a:hover {
    color: #00467f;
    border-bottom: 2px solid #0085cf;
}
.nav li:last-child {
    border: none;
    padding: 0 0 0 42px;
}
.navbar-nav {
    margin: 13px 0 0 25px;
}
.main-top {
    background: url(../images/slide.jpg) no-repeat 50% 0;
    background-size: cover;
    height: 720px;
    width:100%;
    position: relative;
}
.main-top .main-form-holder {
    position: absolute;
    bottom: 0;
    height: 255px;
    padding: 40px 0 0 0;
    width:100%;
    background: rgba(0,70,127,0.5);
}
.main-form-holder span {
    display: block;
    font-family: 'helveticaneuecyrroman';
    color: #fff;
    font-size: 34px;
    text-align: center;
}
.main-form-holder span span {
    display: inline-block;
    font-size: 40px;
    font-family: 'helveticaneuecyrbold';
}
.main-form-holder form {
    margin: 25px 0 0 0;
}
.form-input {
    float: left;
    width:100%;
    height: 51px;
    border: 1px solid #666666;
    margin: 0 30px 0 0;
    padding: 0 0 0 47px;
    color: #333333;
    font-size: 18px;
    line-height: 51px;
    font-family: 'helveticaneuecyrroman';
}
.form-input.name-input {
    background: #fff url(../images/name-ico.png) no-repeat 15px 50%;
}
.form-input.phone-input {
    background: #fff url(../images/phone-input-ico.png) no-repeat 15px 50%;
}
.send-form-holder {
    height: 51px;
    border: 1px solid #666666;
    background: url(../images/send-form-bg.png) repeat-x;
}
.send-form-holder:hover {
    background: url(../images/send-form-bg-h.png) repeat-x;
}
.send-form {
    float: left;
    height: 51px;
    border: none;
    width:100%;
    background: none;
    color: #0085cf;
    font-size: 18px;
    font-family: 'helveticaneuecyrmedium';
    background: url(../images/send-arrow.png) no-repeat 295px 50%;
}
/* benefits */
.benefits {
    margin: 55px 0 0 0;
    overflow: hidden;
}
.title-holder {
    position: relative;
}
.title-box {
    display: block;
    color: #333333;
    font-family: 'helveticaneuecyrroman';
    font-size: 40px;
    padding: 0 0 20px 0;
    z-index: 100;
    border-bottom: 1px dotted #666666;
}
.title-border {
    width:352px;
    height: 4px;
    background: #0085cf;
    position: absolute;
    bottom: 0;
    display: block;
    z-index: 150;
}
.benefits-list {
    list-style: none;
    padding: 0;
    overflow: hidden;
    margin: 44px 0 0 0;
}
.benefits-list li {
    float: left;
    margin: 0 0 40px 0;
    width:42%;
}
.benefits-list li:nth-child(2n) {
    width:43%;
    margin: 0 0 40px 12%;
}
.benefits-list li .inner {
    float: left;
    width:83%;
}
.benefits-title {
    font-size: 26px;
    font-family: 'helveticaneuecyrmedium';
    color: #333333;
    display: block;
    margin: 0 0 8px 0;
}
.benefits-text {
    font-size: 16px;
    font-family: 'helveticaneuecyrroman';
    color: #333333;
    display: block;
}
.benefit-img {
    float: left;
    width: 12%;
    margin: 0 5% 0 0;
}
.benefit-img img {
    display: block;
    width:100%;
    max-width: 60px;
}
/* catalog */
.catalog {
    margin: 24px 0 0 0;
    padding: 50px 0 65px 0;
    background: #f4f4f4;
    border-top: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
}
.catalog-row {
    margin-bottom: 45px;
    margin-top: 45px;
}
.catalog-row a {
    display: block;
}
.catalog-row a img {
    display: block;
    width:100%;
}
.catalog-bot span {
    font-family: 'helveticaneuecyrmedium';
    display: block;
    font-size: 26px;
    color: #333333;
}
.button {
    background: url(../images/button-bg.png) repeat-x;
    height: 60px;
    width:100%;
    display: block;
    font-family: 'helveticaneuecyrroman';
    font-size: 18px;
    color: #fff;
    line-height: 60px;
    text-align: center;
    border-radius: 8px;
}
.button:hover {
    opacity: 0.7;
}
/* technologies */
.technologies {
    padding: 48px 0 90px;
    background: url(../images/tech-bg.jpg) no-repeat 50% 0;
    background-size: cover;
}
.title-tech {
    width:83%;
    margin: 0 auto 25px;
    background: #0085cf;
    padding: 10px 0;
    font-size: 30px;
    font-family: 'helveticaneuecyrroman';
    display: block;
    text-align: center;
    color: #fff;
}
.tech-text {
    display: block;
    text-align: center;
    color: #333333;
    font-size: 16px;
    font-family: 'helveticaneuecyrroman';
}
.tech-holder {
    margin: 40px 0 0 0;
}
.tech-holder > div > .circle {
    background: url(../images/tech-circle1.png) no-repeat;
    width:250px;
    height: 250px;
    margin: 0 auto;
    color: #ffffff;
    text-align: center;
    padding: 95px 0 0 0;
    font-size: 24px;
    vertical-align: middle;
    font-family: 'helveticaneuecyrmedium';
}
.tech-holder > div:nth-child(2) > .circle {
    background: url(../images/tech-circle2.png) no-repeat;
}
.tech-holder > div:nth-child(3) > .circle {
    background: url(../images/tech-circle3.png) no-repeat;
}
.tech-holder > div:nth-child(4) > .circle {
    background: url(../images/tech-circle4.png) no-repeat;
}
/* contacts */
.contacts {
    padding: 60px 0;
    background: #0085cf;
}
.phone-text {
    display: block;
    text-align: center;
    color: #fff;
    font-size: 24px;
    font-family: 'Roboto';
    font-weight: 400;
    margin: 0 0 40px 0;
}
.contacts-phone {
    display: block;
    text-align: center;
    font-size: 40px;
    line-height: 49px;
    font-family: 'Roboto';
    margin: 0 0 12px 0;
}
.contacts-phone a {
    color: #fff;
    background: url(../images/phone-ico-big.png) 0 50% no-repeat;
    padding: 0 0 0 60px;
}
.contacts-phone a:hover {
    text-decoration: underline;
}
.contacts-more {
    display: block;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Roboto';
}
.contacts-more a {
    color: #fff;
    padding: 0 0 5px 0;
    border-bottom: 1px dotted #fff;
}
.contacts-more a:hover {
    border-bottom: 1px dotted transparent;
}
/* footer */
#footer {
    background: #00467f;
    padding: 30px 0;
}
.copy {
    float: left;
    font-size: 14px;
    color: #aad6ef;
    margin: 0 60px 0 0;
    line-height: 45px;
    font-weight: 400;
    font-family: 'Roboto';
}
.footer-list {
    list-style: none;
    padding: 0 40px;
    border-left: 1px solid #0066a7;
    border-right: 1px solid #0066a7;
    margin: 0;
    overflow: hidden;
    float: left;
}
.footer-list li {
    float: left;
    font-weight: 400;
    padding: 15px 20px;
    font-family: 'Roboto';
    font-size: 14px;
}
.footer-list li a {
    color: #fff;
    display: block;
    border-bottom: 1px dotted #fff;
}
.footer-list li a:hover {
    border-bottom: 1px dotted transparent;
    color: #aad6ef;
}
.soc-footer {
    float: right;
    margin: 8px 0 0 0;
}
.soc-footer span {
    font-family: 'helveticaneuecyrroman';
    font-size: 14px;
    color: #ffffff;
    line-height: 30px;
    float: left;
    margin: 0 12px 0 0;
}
.soc-list {
    float: left;
    overflow: hidden;
}
.soc-list li {
    margin: 0 8px 0 0;
    float: left;
}
.soc-list li a {
    display: block;
}
.soc-list li a:hover {
    opacity: 0.7;
}
/* photos.html */
.title-page-box {
    background: url(../images/title-box.jpg) no-repeat;
    height: 120px;
    width:100%;
    margin: 0 0 45px 0;
}
.title-page {
    font-family: 'helveticaneuecyrroman';
    color: #fff;
    font-size: 50px;
    line-height: 120px;
    display: block;
}
.photo-box {
    height: 315px;
    width:370px;
    background: #ebebeb;
    margin: 0 auto 30px;
    overflow: hidden;
}
.photo-box img {
    display: block;
    margin: 0 auto;
}
.reload-bt {
    background: url(../images/reload-bt.png) no-repeat;
    width: 56px;
    height: 50px;
    margin: 0 auto 50px;
    display: block;
}
.photo-box a {
    display: block;
    height: 315px;
}
.italic-text {
    text-align: right;
    font-family: 'helveticaneuecyritalic';
}
.content-text {
    overflow: hidden;
    padding: 0 0 10px 0;
    margin: 0 0 40px 0;
    border-bottom: 1px dotted #666666;
}
.content-text p {
    margin: 0 0 20px 0;
}
.service .title-holder {
    text-align: center;
}
.title {
    text-align: center;
    font-size: 30px;
    font-family: 'helveticaneuecyrroman';
    color: #333333;
    border-bottom: 2px solid #0085cf;
    margin: 0 0 25px 0;
    display: inline-block;
}
.service {
    padding: 0 0 20px 0;
    margin: 0 0 30px 0;
    border-bottom: 1px dotted #666666;
}
.service-list {
    overflow: hidden;
    list-style: none;
    padding: 0;
    margin: 0;
}
.service-list li {
    float: left;
    height: 45px;
    width: 48%;
    margin: 0 0 30px 0;
}
.service-list li img {
    float: left;
}
.service-list li:nth-child(2n) {
    margin: 0 0 30px 4%;
}
.service-list li span {
    float: left;
    width:80%;
    margin: 0 0 0 20px;
}
.product-benefit {
    border-bottom: 1px dotted #666666;
    padding: 0 0 30px 0;
    margin: 0 0 35px 0;
}
.product-benefit span {
    display: block;
    font-family: 'helveticaneuecyrroman';
    color: #00467f;
    background: url(../images/temp-ico.png) no-repeat 0 50%;
    padding: 0 0 0 85px;
    margin: 0 0 0 35px;
    font-size: 16px;
}
.title-tech b {
    font-family: 'helveticaneuecyrbold';
}
.system-holder {
    margin: 40px 0 0 0;
    overflow: hidden;
}
.system {
    border-bottom: 1px dotted #666666;
    padding: 0 0 40px 0;
    margin: 0 0 55px 0;
}
.control-box {
    border: 1px solid #0085cf;
    border-radius: 6px;
    height: 270px;
    padding: 60px 0 0 0;
}
.control-box img {
    display: block;
    margin: 0 auto 45px;
}
.control-box span {
    display: block;
    text-align: center;
    font-size: 18px;
    color: #00467f;
    font-family: 'helveticaneuecyrroman';
}
.storage {
    border-bottom: 1px dotted #666666;
    padding: 0 0 55px 0;
    margin: 0 0 50px 0;
}
.storage .title-tech {
    background: #00467f;
}
.storage-list {
    overflow: hidden;
    margin: 55px 0 0;
    width:100%;
    border-left: 2px solid #d6d6d6;
    border-right: 2px solid #d6d6d6;
}
.storage-list li {
    float: left;
    padding: 0 1.5%;
    height: 225px;
    border-left: 2px solid #d6d6d6;
    width:20%;
}
.storage-list li:first-child {
    border: none;
}
.storage-num {
    display: block;
    font-family: 'helveticaneuecyrmedium';
    font-size: 84px;
    line-height: 84px;
    text-align: center;
    letter-spacing: -1px;
    word-spacing: -18px;
    color: #0085cf;
    margin: 7px 0 5px 0;
}
.storage-num span {
    font-size: 60px;
}
.storage-num sup {
    font-size: 30px;
}
.storage-text {
    display: block;
    text-align: center;
    color: #00467f;
    font-family: 'helveticaneuecyrroman';
    font-size: 26px;
    margin: 0 0 10px 0;
}
.storage-temp {
    display: block;
    font-size: 26px;
    color: #00467f;
    text-align: center;
    font-family: 'helveticaneuecyrbold';
}
.storage-list li:last-child .storage-text {
    font-size: 30px;
    line-height: 40px;
    color: #0085cf;
    margin: 50px 0 0 0;
    font-family: 'helveticaneuecyrmedium';
}
/* table */
.system-tech {
    text-align: center;
    margin: 0 0 80px 0;
}
.tech-table {
    display: table;
    width:100%;
    border-left: 1px solid #d6d6d6;
    border-right: 1px solid #d6d6d6;
    text-align: left;
}
.tech-table span {
    width:12.5%;
    height: 46px;
    padding: 0 0 0 13px;
    display: table-cell;
    font-family: 'helveticaneuecyrmedium';
    font-size: 16px;
    vertical-align: middle;
    border-left: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
}
.tech-table .table-head span:first-child,
.tech-table .table-row span:first-child{
    border-left: none;
}
.table-head {
    background: #396ea9;
    display: table-header-group;
}
.tech-table .table-head span {
    color: #fff;
}
.tech-table .table-body {
    display: table-row-group;
}
.tech-table .table-row {
    background: #f9f9f9;
    display: table-row;
}
.tech-table .table-row:nth-child(2n) {
    background: #f4f4f4;
}
.tech-table .table-body span {
    color: #333333;
}
.tech-table .table-head span.tech-num {
    text-align: center;
}
.tech-table .table-body span.tech-num {
    color: #396ea9;
    font-size: 26px;
    font-family: 'helveticaneuecyrbold';
    text-align: center;
}
/* contacts.html */
.contacts-box .title-holder {
    margin: 0 0 40px 0;
}
.phone-link {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 26px;
    display: block;
    padding: 0 0 0 57px;
    margin: 0 0 45px 0;
    line-height: 40px;
    background: url(../images/contacts-phone-ico.png) no-repeat;
}
.phone-link a {
    color: #333333;
}
.contacts-inner span {
    padding: 0 0 0 57px;
    margin: 0 0 45px 0;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 26px;
    display: block;
}
.contacts-inner span a {
    color: #333333;
}
.phone-link {
    line-height: 40px;
    background: url(../images/contacts-phone-ico.png) no-repeat 0 50%;
}
.contacts-mail {
    line-height: 30px;
    background: url(../images/contacts-mail-ico.png) no-repeat 0 50%;
}
.contacts-address {
    line-height: 40px;
    background: url(../images/contacts-marker.png) no-repeat 0 50%;
}
.contacts-form .form-input {
    width:100%;
    border-radius: 6px;
    margin: 0 0 24px 0;
}
.mail-input {
    background: url(../images/input-mail-ico.png) no-repeat 9px 50%;
}
.contacts-write {
    border: 1px solid #666666;
    border-radius: 6px;
    padding: 19px 0 0 52px;
    height: 120px;
    width:100%;
    resize: none;
    font-family: 'helveticaneuecyrroman';
    font-size: 18px;
    color: #333333;
    background: url(../images/write-ico.png) no-repeat 12px 14px;
}
.contacts-form .send-form-holder {
    margin: 30px 0 0 0;
    width:370px;
    height: 60px;
    border: none;
    border-radius: 8px;
    background: url(../images/send-blue-bg.png) repeat-x;
}
.contacts-form .send-form-holder .send-form {
    font-size: 18px;
    padding: 0;
    height: 60px;
    color: #ffffff;
    line-height: 60px;
    background: url(../images/send-arrow-white.png) no-repeat 70% 50%;
}
.contacts-form .send-form-holder:hover {
    opacity: 0.7;
}
.contacts-box-inner,
.about-holder,
.features ,
.border-box {
    overflow: hidden;
    padding: 0 0 35px 0;
    border-bottom: 1px dotted #666666;
    margin: 0 0 35px 0;
}
.contacts-map {
    margin: 0 0 90px 0;
    overflow: hidden;
}
#map {
    width:100%;
    height: 300px;
}
.about-img {
    display: block;
    width:100%;
    max-width: 470px;
    margin: 0 auto;
}
.features-list li {
    overflow: hidden;
    margin: 20px 0 0;
}
.features-list li:first-child {
    margin: 0;
}
.features-list img {
    float: left;
    margin: 0 15px 0 0;
}
.features-list span {
    float: left;
    width:90%;
}
.features .title {
    border-bottom: none;
}
h1 {
    font-size: 50px;
    color: #333333;
    margin: 0 0 20px 0;
    font-family: 'helveticaneuecyrroman';
}
h2 {
    font-size: 40px;
    color: #333333;
    margin: 0 0 20px 0;
    font-family: 'helveticaneuecyrroman';
}
h3 {
    font-size: 30px;
    color: #333333;
    margin: 0 0 25px 0;
    font-family: 'helveticaneuecyrroman';
}
h4 {
    font-size: 26px;
    color: #333333;
    margin: 0 0 22px 0;
    font-family: 'helveticaneuecyrroman';
}
h5 {
    font-size: 24px;
    color: #333333;
    margin: 0 0 15px 0;
    font-family: 'helveticaneuecyrroman';
}
h6 {
    font-size: 20px;
    color: #333333;
    margin: 0 0 15px 0;
    font-family: 'helveticaneuecyrroman';
}
.link {
    color: #0085cf;
    font-size: 16px;
}
.link:hover {
    color: #00467f;
    font-size: 16px;
}
.contacts.contacts-margin {
    margin: 50px 0 0 0;
}