@media(min-width: 1200px) {

}
@media (min-width:991px) and (max-width: 1200px) {
    .img-product {
        width: 90%;
        height: 63%;
    }
    .search-cbtn {
        right: 20px;
    }
    .description-blog {
        margin-bottom: 70px;
    }
    .nav-menu-footer {
        font-size: 11px;
    }

}
@media (min-width:767px) and (max-width:991px) {
    .account-nav {
        justify-content: flex-end;
    }
    .text-sale {
        bottom: 30px;
    }
    .clock {
        top: 35px;
        height: 57px;
    }
    .menu-products li {
        padding: 0 20px;
        line-height: 33px;
    }
    .menu-products {
        justify-content: center;
    }
    .section-two-items {
        margin-top: 50px;
    }
    .section-products-chocolate {
        margin-bottom: 50px;
    }
    .section-collection {
        margin-top: 50px;
    }
    .nav-section-collection {
        margin-bottom: 10px;
    }
    .section-blog img {
        margin: 0 auto;
    }
    .section-blog .title-chocolate {
        text-align: center;
    }
    .title-inst {
       text-align: center;
    }
}
@media (max-width:991px) {
    .header-main .flex-item:nth-child(1) { order: 1;}
    .header-main .flex-item:nth-child(2) { order: 3;}
    .header-main .flex-item:nth-child(3) { order: 2;  justify-content: flex-end;}
    .account-nav li:nth-child(2):before {
        top: 2px;
    }
    .content-action-birthday span:nth-child(2) {
        font-size: 21px;
    }
    .menu li:last-child a img {
        display: none;
    }
    .menu li {
        line-height: 25px;
        margin: 0 5px;
        font-size: 13px;
    }
    .search {
        width: 100%;
        margin-top: 5px;
        max-width: 100%;
    }
    .img-component {
        margin: 8px 0;
        height: 425px;
        object-fit: cover;
        width: 100%;
        justify-content: center;
    }
    .search-btn {
        top: 17px;
        right: 22px;
    }
    .section-component-bottom .col-md-4 {
        display: none;
    }
    .section-chocolate {
        text-align: center;
        padding: 17px 0;
    }
    .action-birthday img, .section-two-items img {
        width: 100%;
        object-fit: cover;
        height: 300px;
    }
    .box-product:nth-of-type(-n+4) {
        margin-top: 15px;
    }
    .box-component .title-component {
        bottom: 72px;
    }
    .box-component .btn-component {
        bottom: 25px;
    }
    .title-collections {
        text-align: center;
    }
    .description-blog {
        margin-bottom: 70px;
    }
    .img-inst {
        justify-content: center;
    }
    .input-email {
        margin-bottom: 20px;
    }
    .btn-email {
        bottom: 42px;
    }
    .text-inst {
        text-align: center;
    }
    .nav-menu-footer {
        font-size: 11px;
        line-height: 20px;
    }
    .icon-social {
        margin-top: 25px;
        width: 200px;
    }
}
@media (max-width: 767px) {
    .account-nav {
        font-size: 12px;
        justify-content: flex-end;
    }
    .account-nav li:first-child {
        float: right;
        margin-left: 27px;
    }
    .clock {
        width: 150px;
        height: 30px;
        position: absolute;
        top: 5px;
    }
    .clock li {
        font-size: 23px;
    }
    .clock-description {
        display: none;
    }
    .text-sale {
        bottom: 0;
        font-size: 12px;
    }
    .wrapper-clock {
        top: 13%;
        left: calc(50% - 113px);
    }
    .menu-products {
        margin: 0 10px;
    }
    .section-two-items img {
        margin-top: 10px;
    }
    .img-product {
        width: 100%;
    }
    .box-product {
        width: 100%;
    }
    .section-products-chocolate .col-md-8 {
        margin-top: 10px;
    }
    .text-product {
        height: 30px;
    }
    .title-component {
        font-size: 33px;
    }
    .section-collection {
        margin-top: 30px;
    }
    .box-component {
        margin-bottom: 2px;
    }
    .box-component img {
        width: 100%;
        height: 100%;
    }
    .nav-section-collection {
        margin-bottom: 10px;
    }
    .section-blog img {
        width: 100%;
    }
    .section-blog .title-chocolate {
        text-align: center;
    }
    .title-inst {
       text-align: center;
    }
    .title-blog {
        font-size: 22px;
    }
    .date-blog {
        font-size: 13px;
    }
    #countdown {
        font-size: 17px;
    }
    .countdown-col {
        margin: 0 5px;
    }
    .countdown-box {
        font-size: 10px;
    }
}
@media (min-width:400px) and (max-width:767px) {
    .box-product {
        width: 50%;
        padding: 0 5px;
    }
    .img-product {
        width: 100%;
    }
    .text-product {
        max-width: 100%;
    }
}
