@font-face {
    font-family: "RalewayRegular";
    src: url("../fonts/RalewayRegular/RalewayRegular.eot");
    src: url("../fonts/RalewayRegular/RalewayRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RalewayRegular/RalewayRegular.woff") format("woff"),
    url("../fonts/RalewayRegular/RalewayRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "OpenSans-ExtraBold";
    src: url('../fonts/opensans-extrabold-webfont.eot');
    src: url('../fonts/opensans-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/opensans-extrabold-webfont.woff2') format('woff2'),
    url('../fonts/opensans-extrabold-webfont.woff') format('woff'),
    url('../fonts/opensans-extrabold-webfont.ttf') format('truetype'),
    url('../fonts/opensans-extrabold-webfont.svg#open_sansextrabold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "OpenSans-Semibold";
    src: url('../fonts/opensans-semibold-webfont.eot');
    src: url('../fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
    url('../fonts/opensans-semibold-webfont.woff') format('woff'),
    url('../fonts/opensans-semibold-webfont.ttf') format('truetype'),
    url('../fonts/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "OpenSansBold";
    src: url('../fonts/opensans-bold-webfont.eot');
    src: url('../fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
    url('../fonts/opensans-bold-webfont.woff') format('woff'),
    url('../fonts/opensans-bold-webfont.ttf') format('truetype'),
    url('../fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: "RalewayThin";
    src: url("../fonts/RalewayThin/RalewayThin.eot");
    src: url("../fonts/RalewayThin/RalewayThin.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RalewayThin/RalewayThin.woff") format("woff"),
    url("../fonts/RalewayThin/RalewayThin.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "RalewayMedium";
    src: url("../fonts/RalewayMedium/RalewayMedium.eot");
    src: url("../fonts/RalewayMedium/RalewayMedium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RalewayMedium/RalewayMedium.woff") format("woff"),
    url("../fonts/RalewayMedium/RalewayMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "RalewayBold";
    src: url("../fonts/RalewayBold/RalewayBold.eot");
    src: url("../fonts/RalewayBold/RalewayBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RalewayBold/RalewayBold.woff") format("woff"),
    url("../fonts/RalewayBold/RalewayBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "RalewayExtraBold";
    src: url("../fonts/RalewayExtraBold/RalewayExtraBold.eot");
    src: url("../fonts/RalewayExtraBold/RalewayExtraBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RalewayExtraBold/RalewayExtraBold.woff") format("woff"),
    url("../fonts/RalewayExtraBold/RalewayExtraBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "RalewayBlack";
    src: url("../fonts/RalewayBlack/RalewayBlack.eot");
    src: url("../fonts/RalewayBlack/RalewayBlack.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RalewayBlack/RalewayBlack.woff") format("woff"),
    url("../fonts/RalewayBlack/RalewayBlack.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
.flex {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.flex-center-x {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.flex-end-x {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-pack: end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.flex-end-y {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    align-content: flex-end;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.flex-center-y {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    align-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 100%;
}
.flex-space-b {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.no-wrap {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
.center {
    text-align: center;
}
html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
}
body {
    background: #fff;
    margin: 0;
    font-family: RalewayRegular;
    color: #040406;
    font-size: 14px;
    overflow-x: hidden;
    position: relative;
}
.clearfix:before,
.clearfix:after {
    clear: both;
    display: block;
    content: '';
}
a:focus {
    outline: none;
    color: #000;
    text-decoration: none;
}
a {
    text-decoration: none;
    color: #000;
}
a:hover {
    color: #fd9148;
    text-decoration: none;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #485154 !important;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
    color: #485154 !important;
}
input:-moz-placeholder,
textarea:-moz-placeholder{
    color: #485154 !important;
}
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
    color: transparent !important;
}
input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
    color: transparent !important;
}
input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder{
    color: transparent !important;
}
input:focus,
textarea:focus,
button:focus,
select:focus {
    outline: none;
}
button {
    border: none;
    cursor: pointer;
}
textarea {
    font-family: inherit;
    font-size: inherit;
}
img {
    display: block;
    max-width: 100%;
}
@media (min-width: 1200px) {
    .container {
        width: 1200px;
        max-width: 1200px;
    }
}
.header-top {
    margin-bottom: 15px;
}
.header {
    margin: 15px 0 15px 0;
}
.lang-nav li {
    display: block;
    font-size: 10px;
    position: relative;
}
.lang-nav-inner {
    font-size: 10px;
    position: absolute;
    left: 0;
    top: 20px;
    transition: all ease 0.5s;
}
.lang-nav li a:hover,
.lang-nav-inner a:hover {
    color: #F44336;
}
.block-inner-lang, .block-inner-currency {
    display: none;
}
.lang-nav-inner a:nth-child(2) {
    margin-top: 5px;
}
 .lang-nav li img {
    margin: 0 10px 0 8px;
}
.lang-nav li:last-child:before {
    display: block;
    position: absolute;
    height: 8px;
    width: 1px;
    content: '';
    background: #000;
    top: 3px;
    left: -18px;
}
.lang-nav li:first-child {
    margin-left: 6px;
}
.lang-nav li:last-child {
    margin-left: 22px;
}
.account-nav li a:hover {
    color: #000;
}
.account-nav li a {
    transition: 0.5s all ease;
}
.account-nav li {
    text-transform: uppercase;
    position: relative;
    margin-left: 7px;
}
.img-like img {
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.img-like img.like-active {opacity:0;}
.img-like:hover img.like-active {opacity:1;}

.account-nav li:first-child {
    margin-right: 20px;
}
.account-nav li a img {
    position: absolute;
    top: 5px;
    left: -17px;
}
.account-nav li:nth-child(2):before {
    content: '';
    display: block;
    height: 11px;
    width: 1px;
    top: 5px;
    right: 0;
    background: #000;
    position: absolute;
    transform: rotate(35grad);
}
.account-nav li:nth-child(3){
     margin-left: 10px;
 }
.account-nav li:hover a {
    color: #f96b25;
}
.account-nav li:nth-child(2){
    padding-right: 10px;
}
.header-main-content {
    background: #e9e9e9;
    padding: 17px 0 7px 0;
}
.input-search {
    position: relative;
}
.search {
    padding-left: 20px;
    padding-right: 20px;
    height: 40px;
    border: none;
    width: 100%;
    max-width: 640px;
    color: #000;
    font-size: 14px;
    font-family: 'RalewayMedium';
}
.search-btn {
    position: absolute;
    background: #FFFFFF;
    top: 13px;
    right: 50px;
}
.btn-basket {
    background: none;
}
.basket-text, .basket-price{
    font-size: 12px;
    color: #fd9148;
    font-family: RalewayBold;
    text-transform: uppercase;
    display: block;
}
.basket-price {
    font-family: OpenSans-Semibold;
    float: right;
}
.btn-basket {
    margin-right: 12px;
    padding: 0;
    width: 14px;
    height: 19px;
}
.basket-text-holder {
    font-family: RelewayMedium;
}
.menu {
    text-transform: uppercase;
    margin: 5px 0 21px 0;
}
.menu li a {
    display: block;
    transition: 0.5s all ease;
}
.menu li:last-child a img {
    opacity: 0;
    position: absolute;
    top: 7px;
    right: -13px;
    transition: 0.5s all ease;
}
.menu li:last-child:hover a img {
    opacity: 1;
}
.menu li:last-child a {
    color: #fd9148;
    font-weight: bold;
}
.menu li:hover a {
    color: #fd9148;
}
.menu li:last-child:hover a {
    color: #f96b25;
}
.color-orange {
    color: #fd9148;
}
.img-component {
    display: block;
    position: relative;
}
.title-component {
    font-family: "RalewayThin";
    font-size: 36px;
    color: #ffffff;
    display: block;
    position: absolute;
    bottom: 165px;
    text-align: center;
}
.text-component {
    display: block;
    position: absolute;
    bottom: 110px;
    color: #ffffff;
    font-family: "RalewayRegular"
}
.btn-component {
    width: 135px;
    height: 35px;
    background: #fd9148;
    border-radius: 25px;
    position: absolute;
    bottom: 50px;
    text-transform: uppercase;
    font-size: 12px;
    color: #ffffff;
    font-family: "RalewayBold";
    letter-spacing: 1px;
    transition: 0.5s all ease;
}
.btn-component:hover {
    background: #ff6700;
    box-shadow: 0px 0px 3px 0px #fbcfb2;
}
.section-component-bottom {
    margin-top: 10px;
}
.clock li {
    font-weight: bold;
    font-size: 30px;
    color: #FFFFFF;
    font-family: "OpenSansBold";
}
.clock {
    width: 210px;
    height: 63px;
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 45px;
}
.box-component {
    position: relative;
}
.clock-description {
    padding-left: 6px;
    font-size: 11px;
    display: block;
    text-transform: uppercase;
    font-family: RalewayRegular;
    line-height: 3px;
}
.clock li span:first-child {
    margin: 0 4px;
    font-family: RalewayThin;
}
.text-sale {
    text-transform: uppercase;
    color: #fff;
    bottom: 40px;
    display: block;
    text-align: center;
    font-family: RalewayBlack;
    margin-top: 12px;
}
.text-component-bottom {
    margin-left: 38px;
    color: #FFFFFF;
    position: absolute;
    bottom: 37px;
    text-transform: uppercase;
}
.text-component-bottom span {
    display: block;
}
.text-component-bottom span:first-child {
    font-family: "RalewayBlack";
}
.text-component-bottom span:nth-child(2) {
    font-family: "RalewayBlack";
    font-size: 24px;
    margin-top: -6px;
}
.text-component-bottom span:last-child {
    text-transform: none;
    line-height: 18px;
    margin-top: 10px;
}
.title-chocolate, .title-collections {
    font-family: RalewayBold;
    text-transform: uppercase;
}
.section-chocolate {
    padding: 26px 0;
}
.menu-products li {
    font-size: 16px;
    font-family: RelewayMedium;
}
.menu-products {
    margin-left: 20px;
}
.menu-products li.active a {
    color: #fd9148;
    text-decoration: underline;
}
.action-birthday {
    position: relative;
}
.content-action-birthday {
    position: absolute;
    top: 30px;
    color: #FFFFFF;
    left: 0;
    text-align: center;
    width: 100%;
}
.content-action-birthday span:nth-child(2) {
    font-size: 24px;
    margin-top: 10px;
    letter-spacing: 1px;
    line-height: 30px;
}
.content-action-birthday span {
    text-transform: uppercase;
    display: block;
    font-family: RalewayBlack;
}
.content-action-birthday .btn-component {
    top: 120px;
    left: calc(50% - 68px);
}
.img-product {
    width: 170px;
    height: 184px;
    background: #f0f0f0;
    position: relative;
    margin-bottom: 17px;
}
.img-product-inner img {
    margin: 0 5px;
}
.img-product-inner {
    background: rgba(240, 240, 240, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s all ease;
}
.img-product-inner img {
    transition: 0.5s all ease;
}
.img-product-inner img:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
.img-product-inner {opacity:0;}
.img-product:hover .img-product-inner {opacity:1;}

.title-product {
    text-transform: uppercase;
}
.box-product {
    color: #485154;
    font-family: RalewayBold;
    margin-top: 15px;
}
.text-product {
    font-size: 10px;
    display: block;
    max-width: 135px;
    font-family: RalewayMedium;
    margin-bottom: 7px;
    height: 30px;
    overflow: hidden;
}
.old-price {
    font-family: OpenSans-Semibold;
    font-size: 10px;
    color: #485154;
    text-decoration: line-through;
    margin-right: 5px;
}
.price  {
    font-family: OpenSans-ExtraBold;
    color: #485154;
}
.new-price {
    color: #fd9148;
    font-family: OpenSans-ExtraBold
}
.basket-product {
    display: block;
    float: right;
}
.box-product:nth-of-type(-n+4) {
    margin-top: 0;
}
.section-products-chocolate {
    margin-bottom: 60px;
}
.box-component .title-component {
    bottom: 133px;
}
.box-component .btn-component {
    bottom: 70px;
}
.section-collection {
    margin-top: 55px;
}
.nav-section-collection {
    margin-bottom: 25px;
}
.content-action-birthday span:nth-child(3) {
    font-family: RalewayRegular;
    margin-top: 10px;
}
.content-action-birthday .btn-component {
    margin-top: 30px;
}
.section-blog .title-chocolate {
    display: block;
    margin-bottom: 30px;
}
.section-blog {
    margin-top: 60px;
}
.description-blog {
    margin-bottom: 130px;
    margin-top: 45px;
}
.description-inst {
    margin-top: 45px;
}
.date-blog {
    font-family: RalewayMedium;
    display: block;
    text-align: center;
    text-transform: uppercase;
}
.title-blog {
    display: block;
    text-align: center;
    font-size: 24px;
    color: #545d5f;
    margin-top: 5px;
}
.text-blog {
    display: block;
    text-align: center;
    font-size: 11px;
    font-family: RelewayMedium;
    color: #485154;
    margin-top: 12px;
}
.title-inst {
    font-family: RalewayBold;
    display: block;
    text-transform: uppercase;
    color: #545d5f;
}
.text-inst {
    display: block;
    margin-top: 10px;
}
.input-email {
    height: 60px;
    width: 100%;
    background: #f0f0f0;
    padding: 25px;
    border: none;
    margin-top: 20px;
    font-family: RelewayMedium;
}
.input-inst {
    position: relative;
}
.btn-email {
    position: absolute;
    background: none;
    bottom: 20px;
    right: 20px;
}
.wrapper-footer {
    background: #f1f1f1;
    padding-top: 60px;
    padding-bottom: 50px;
}
.nav-menu-footer {
    font-family: RalewayMedium;
    font-size: 12px;
    text-transform: uppercase;
}
.text-copy {
    font-family: RalewayMedium;
    margin-top: 35px;
}
.fancybox-toolbar {
    display: none;
}
.fancybox-navigation .fancybox-button--arrow_left {
    left: 100px !important;
    border-radius: 25%;
    padding: 0 !important;;
}
.fancybox-navigation .fancybox-button--arrow_right {
    right: 100px !important;
    border-radius: 25%;
    padding: 0 !important;;
}
.fancybox-navigation .fancybox-button {
    height: 70px !important;
}
#countdown {
    color: #fff;
    font-size: 25px;
    line-height: 1;
    text-align: center;
    font-family: OpenSans-SemiBold;
}
.countdown-col {
    margin: 0 10px;
}
.countdown-box {
    font-size: 13px;
    font-family: "RalewayThin";
    display: block;
    font-weight: 600;
    margin-top: 5px;
}
.wrapper-clock {
    position: absolute;
    top: 30%;
    left: calc(50% - 132px);
}
.basket-product {
    transition: all ease 1s;
}