@font-face {
    font-family: "OpenSans-SemiBold";
    src: url("../fonts/OpenSans-SemiBold/opensans-semibold-webfont.eot");
    src: url("../fonts/OpenSans-SemiBold/opensans-semibold-webfont.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSans-SemiBold/opensans-semibold-webfont.woff") format("woff"),
    url("../fonts/OpenSans-SemiBold/opensans-semibold-webfont.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "RalewayRegular";
    src: url("../fonts/RalewayRegular/RalewayRegular.eot");
    src: url("../fonts/RalewayRegular/RalewayRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RalewayRegular/RalewayRegular.woff") format("woff"),
    url("../fonts/RalewayRegular/RalewayRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "RalewayThin";
    src: url("../fonts/RalewayThin/RalewayThin.eot");
    src: url("../fonts/RalewayThin/RalewayThin.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RalewayThin/RalewayThin.woff") format("woff"),
    url("../fonts/RalewayThin/RalewayThin.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "RalewayMedium";
    src: url("../fonts/RalewayMedium/RalewayMedium.eot");
    src: url("../fonts/RalewayMedium/RalewayMedium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RalewayMedium/RalewayMedium.woff") format("woff"),
    url("../fonts/RalewayMedium/RalewayMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "RalewayBold";
    src: url("../fonts/RalewayBold/RalewayBold.eot");
    src: url("../fonts/RalewayBold/RalewayBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RalewayBold/RalewayBold.woff") format("woff"),
    url("../fonts/RalewayBold/RalewayBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "RalewayExtraBold";
    src: url("../fonts/RalewayExtraBold/RalewayExtraBold.eot");
    src: url("../fonts/RalewayExtraBold/RalewayExtraBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RalewayExtraBold/RalewayExtraBold.woff") format("woff"),
    url("../fonts/RalewayExtraBold/RalewayExtraBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "RalewayBlack";
    src: url("../fonts/RalewayBlack/RalewayBlack.eot");
    src: url("../fonts/RalewayBlack/RalewayBlack.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RalewayBlack/RalewayBlack.woff") format("woff"),
    url("../fonts/RalewayBlack/RalewayBlack.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
img {
    display: block;
    max-width: 100%;
}
html, body {
    height: 100%;
}
body {
    background: #fff;
    margin: 0;
    font-family: RalewayRegular;
    color: #040406;
    font-size: 16px;
    overflow-x: hidden;
    position: relative;
}
a:focus {
    outline: none;
}
a {
    text-decoration: none;
    color: #545454;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
input::-webkit-input-placeholder{opacity: 1; transition: opacity 0.3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #7d7d7d !important;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
    color: #7d7d7d !important;
}
input:-moz-placeholder,
textarea:-moz-placeholder{
    color: #7d7d7d !important;
}
input:focus,
textarea:focus,
button:focus,
select:focus {
    outline: none;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
button {
    border: none;
    cursor: pointer;
}
textarea {
    font-family: inherit;
    font-size: inherit;
}
.container {
    margin: 0 auto;
    padding: 0 15px;
}
.main-bn {
    background: #333333 url("../images/bg-header.jpg") 50% 0;
    height: 710px;
    background-size: cover;
}
.contact-form {
    background: #ffffff;
    padding: 30px 25px 25px 25px;
}
.title-form {
    color: #525252;
    text-transform: uppercase;
    display: block;
    text-align: center;
    font-size: 23px;
    font-family: RalewayMedium;
}
.text-form {
    margin: 20px 0 20px 0;
    color: #5e5e5e;
    display: block;
    text-align: center;
    font-size: 15px;
}

.contact-form {
    max-width: 350px;
}
.btn-contact-form {
    width: 100px;
    height: 40px;
    display: block;
    margin: 30px auto 0 auto;
    background: #fe551e;
    text-transform: uppercase;
    border-radius: 5px;
    color: #ffffff;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 1px;
    transition: all ease 0.5s;
}
.main-title {
   color: #ffffff;
    text-transform: uppercase;
    font-family: RalewayRegular;
    font-size: 37px;
}
.section-description-bn, .contact-form {
    margin-top: 140px;
}
.main-text-bn {
    margin-top: 10px;
    font-size: 20px;
    background: #a20f2b;
    color: #ffffff;
    padding: 1px 1px 1px 5px;
    font-family: RalewayThin;
}
.time-text-bn {
    margin-top: 65px;
    display: block;
    font-size: 20px;
    color: #ffffff;
    font-family: RalewayThin;
    max-width: 530px;
}
.bg-orange-text {
    background: #fe551e;
    padding: 1px;
    font-weight: bold;
}
#countdown {
    color: #fff;
    font-size: 40px;
    line-height: 1;
    text-align: center;
    margin-top: 30px;
    font-family: OpenSans-SemiBold;
}
.countdown-box {
    font-size: 12px;
    font-family: "RalewayThin";
    display: block;
    width: 77px;
    margin-top: 5px;
    text-transform: uppercase;
}
.title-section {
    text-transform: uppercase;
    display: block;
    text-align: center;
    color: #545456;
    margin-top: 150px;
}
.title-section:after {
    content: '';
    display: block;
    width: 70px;
    height: 2px;
    background: #0d7ff2;
    margin: 30px auto 0 auto;
}
.box-advantage {
    margin: 50px 0 135px 0;
}
.box-advantage .svg-inline--fa.fa-w-14,
.svg-inline--fa.fa-w-16,
.svg-inline--fa.fa-w-20,
.svg-inline--fa.fa-w-16 {
    height: 40px;
    width: auto;
    display: block;
    margin: 0 auto;
    color: #a2a2a2;
}
.title-box-advantage {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    display: block;
    text-align: center;
    margin: 20px 0;
}
.text-box-advantage {
    color: #787e7e;
    display: block;
    font-size: 14px;
    text-align: center;
}
.title-section-mentor {
    font-size: 24px;
    color: #626262;
    display: block;
    text-transform: uppercase;
}
.title-section-mentor:after {
    content: '';
    display: block;
    width: 70px;
    height: 2px;
    background: #0d7ff2;
    margin-top: 30px;
}
.mentor-list {
    margin: 40px 0 57px 0;
}
.mentor-list li {
    color: #848586;
    margin: 8px 0;
}
.mentor-list img {
    max-height: 15px;
    margin: 3px 10px 0 0;
}
.btn-training,
.btn-discover,
.btn-command,
.btn-send {
    width: 170px;
    height: 40px;
    display: block;
    margin: 0 auto;
    background: #fe551e;
    text-transform: uppercase;
    border-radius: 5px;
    color: #ffffff;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 1px;
    transition: all ease 0.5s;
}
.box-choice {
    margin-top: 30px;
    padding: 40px 30px;
    background-color: #f7f7f7;
}
.box-choice .svg-inline--fa {
    width: 30px;
    height: 30px;
    color: #0d7ff2;
    display: block;
    margin: 0 auto;
}
.box-choice span {
    display: block;
    text-align: center;
}
.title-box-choice {
    font-weight: bold;
    text-transform: uppercase;
    font-family: RalewayMedium;
    margin-top: 33px;
}
.text-box-choice {
    color: #6d6d6d;
    font-size: 15px;
    margin-top: 27px;
}
.section-choice .title-section {
    margin-bottom: 10px;
    margin-top: 110px;
}
.box-reviews {
    margin-top: 85px;
    border-top: #f7f7f7 solid 1px;
    border-bottom: #f7f7f7 solid 1px;
    padding: 5px 14px 7px 14px;
    min-height: 300px;
}
.btn-discover {
    width: 160px;
    margin-top: 80px;
}
.reviews {
    font-style: italic;
    color: #6f6f6f;
    line-height: 33px;
}
.author {
    color: #585858;
    font-weight: bold;
    font-size: 18px;
    display: block;
    margin-top: 40px;
}
.date {
    display: block;
    color: #8b8b8b;
    font-size: 14px;
}
.btn-command {
    margin-top: 50px;
}
.section-fb {
    margin-top: 100px;
    background: #333333 url("../images/footer-background.jpg") 50% 0;
    height: 555px;
    background-size: cover;
    padding: 150px 0;
}
.title-fb {
    color: white;
    font-family: OpenSans-SemiBold;
    font-size: 35px;
    display: block;
    text-align: center;
}
.text-fb {
    color: #ffffff;
    font-size: 15px;
    text-align: center;
    display: block;
    margin-top: 10px;
    font-family: RalewayThin;
}
.fb-form {
    margin-top: 65px;
}
.fb-form input {
    width: 100%;
    border: #ffffff solid 1px;
    height: 45px;
    padding-left: 15px;
    background: none;
    color: #ffffff;
}
.fb-form input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #ffffff !important;
}
.fb-form input::-moz-placeholder,
textarea::-moz-placeholder {
    color: #ffffff !important;
}
.fb-form input:-moz-placeholder,
textarea:-moz-placeholder{
    color: #ffffff !important;
}
.btn-send {
    width: 125px;
    margin-top: 50px;
    transition: all ease 0.5s;
}
.copyright {
    color: #696969;
}
.footer {
    background: #000000;
    height: 50px;
    padding-top: 12px;
}
button:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
.content-form-box {
    position: relative;
}
.content-form-label {
    position: absolute;
    color: dimgrey;
    top: 33px;
    z-index: 3;
    left: 10px;
}
.content-form-box.active .content-form-label {
    bottom: 50px;
    font-size: 13px;
}
.contacts-input {
    width: 100%;
    height: 48px;
    border: #dddddd solid 1px;
    border-radius: 3px;
    padding-left: 15px;
    margin-top: 20px;
    position: relative;
}

